    
    <link href="{{ MEDIA_URL }}css/ajax.css" rel="stylesheet" type="text/css">
    <link href="{{ MEDIA_URL }}css/post2mentor.css" rel="stylesheet" type="text/css">

    <style type="text/css">
        .centre {
            margin: 0 auto;
            text-align: center;
        }
        div.formFieldWrapper label {
            vertical-align: middle;
            right: 90%;
        }
        .error, .validationError {
            background-color: #fcdfdf;
        }
        .noError {
            background-color: #f7fcfe;
        }
        .validationError {
            color: red;
            font-weight: bold;
            font-size: medium;
        }    
        .tipsy-inner { background-color: #fc0f0f; color: white; font-size: 14px; max-width: 250px; padding: 5px; border-radius: 5px; -moz-border-radius:5px; -webkit-border-radius:5px; }
        #c_answer textarea {
            width: 600px;
            height: 250px;
        }
    </style>

                             
  
      <div class="post-answer" style="">

          <form method="post" action="" id="post-answer-form" enctype="multipart/form-data">
              {% csrf_token %}
                {{ formSet.management_form }}
                {% for form in formSet.forms %}
                    {{ form.id }}
                    {{ form.answer.errors }}
                        {{ form.email.errors }}

                    <div class="formFieldWrapper required noError smooth-shadow" id="c_answer" align="left"
                         style="border-top: 1px solid silver;">
                        <label for="id_form-0-answer" class="form-label"><span class="form-label-asterisk">*</span> Answer</label>                        
                        <p>
                            <textarea id="id_form-0-answer" class="" name="form-0-answer" cols="40" rows="10" style="margin-left: 0;"></textarea>
                        </p>
                    </div>

                    <div class="formFieldWrapper noError smooth-shadow" id="c_file" align="left">
                        <label for="id_form-0-file" class="form-label">Attach image</label>
                        <p>{{ form.file }}</p>
                    </div>
                    <div class="formFieldWrapper required noError smooth-shadow" id="c_email" align="left"
                         style="border-bottom: 1px solid silver;">
                        <label for="id_form-0-email" class="form-label"><span class="form-label-asterisk">*</span> Email</label>
                        <p>{{ form.email }}</p>
                    </div>
                                        
                    <div class="formFieldWrapper form-footer">                        
                        <input type="submit" value="SUBMIT" id="btn-submit">
                        &nbsp;
                        <input type="reset" value="Reset">
                    </div>            

                    <div class="formFieldWrapper " id="c_exercise" style="height: 0px; width: 0px; visibility: hidden;">
                        {{ form.exercise }}  {{ form.comment }}
                    </div>
                          
                {% endfor %}
               
          </form>
        
      </div>

      <input type="hidden" id="h_xid" value="{{ exercise_id }}">
          <input type="hidden" id="h_tid" value="{{ object_id }}">
          <input type="hidden" id="h_pid" value="{{ problem_id }}">

    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.min.js"></script>
      <script type="text/javascript" src="/isad/v_media/js/common.js"></script>
      <script type="text/javascript" src="/isad/v_media/js/tipsy-0.1.7/src/javascripts/jquery.tipsy.min.js"></script>
      <script type="text/javascript" src="/isad/v_media/js/contact.js"></script>

      <script type="text/javascript" src="/isad/v_media/js/ajax_common.js"></script>
      <script type="text/javascript" src="/isad/v_media/js/jquery.form.js"></script>
      <script type="text/javascript" src="/isad/v_media/js/post2mentor.js"></script>
      
