<!--Required for jquery.sheet-->
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}lib/jquery.sheet/jquery.sheet.css">
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/jquery-ui.css">      
<!--/Required-->

<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/test_suite_design.css">      


<h3 title="Code to be tested">Code</h3>
<p>        
    <textarea id="code-base" name="code-base" rows="10" cols="100" title="Write the code to be tested">function sum(x, y) { return x+y }</textarea>
</p>

<p>
    <a href="#" class="create-ts-link primary-action-link" title="Create a test suite"> Create test suite</a>
</p>
<br>

<div id='test-suite-create-dialog'></div>
<div id='test-case-create-dialog'></div>

<div id='test-suite-display-dialog' style='margin-top: 15px; width: auto;'></div>

<div id="custom-script"></div>


<script type="text/javascript" src="/isad/v_media/js/jquery.min.js"></script>  
<script type="text/javascript" src="{{ MEDIA_URL }}lib/jquery.class.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}lib/underscore-min.js"></script>
<!--Required for jquery.sheet-->               
<script type="text/javascript" src="{{ MEDIA_URL }}lib/jquery.sheet/jquery.sheet.js"></script>  
<script type="text/javascript" src="{{ MEDIA_URL }}lib/jquery.sheet/parser.js"></script>
<!--/Required-->

<script type="text/javascript" src="{{ MEDIA_URL }}lib/TextArea_Resizer_1.0.4/jquery.textarearesizer.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}lib/editarea_0_8_2/edit_area/edit_area_full.js"></script>
<script type='text/javascript' src='{{ MEDIA_URL }}lib/jquery.editable-1.3.3.min.js'></script>

    
<script type="text/javascript" src="{{ MEDIA_URL }}js/exercises/test_suite_design.js">
</script>

