<link href="{{ MEDIA_URL }}css/isad_workspace.css" rel="stylesheet" type="text/css">


<form method=" " action=" " id=" ">
    <!-- Design area -->

    <h3 class="table-title-blue">Table #1: Add actors</h3>        
    <table class="techno" cellpadding="0" cellspacing="0" id="tableInputActor">
        <thead>
            <tr>
                <th>Actor</th>
                <th>Add</th>
            </tr>
        </thead>
        <tbody class="tbodyInputActor">

            <tr>
                <td><input type="text" name="textActorName" id="textActor"/></td>
                <td><button type="button" value="Add" id="btnActorAdd">
                        <img class="button-image buttonAddImage" alt="" src="/isad/v_media/images/new/icons/add_16x16.png">
                        <span class="button-text">Add</span>
                    </button>
                </td>

            </tr>

        </tbody>
    </table>


    <h3 class="table-title-blue">Table #2: Add use cases</h3>     
    <table class="techno" cellpadding="0" cellspacing="0" id="tableInputUC">
        <thead>
            <tr>
                <th>Use Case</th>
                <th>Add</th>
            </tr>
        </thead>
        <tbody class="tbodyInputUC">

            <tr>
                <td><input type="text" name="textUCName" id="textUC"/></td>
                <td><button type="button" value="Add" id="btnUCAdd">
                        <img class="button-image buttonAddImage" alt="" src="/isad/v_media/images/new/icons/add_16x16.png">
                        <span class="button-text">Add</span>
                    </button>
                </td>

            </tr>

        </tbody>
    </table>


    <h3 class="table-title-blue">Table #3: Add relationship</h3>
    <table class="techno" cellpadding="0" cellspacing="0" id="tableInputRelation" style="width: 750px;">
        <thead>
            <tr>
                <th style="width: 200px;">From Actor / Use Case</th>
                <th>Relationship</th>
                <th style="width: 200px;">To Actor / Use Case</th>
                <th>Label</th>
                <th>Add</th>
            </tr>
        </thead>
        <tbody class="tbodyInputRelation">

            <tr>

                <td>
                    <select id='selectLeftActorOrUC'></select>
                </td>

                <td>
                    <select id='selectRelationType'>
                        <option>Association</option>
                        <option>Generalization</option>
                        <option>Include</option>
                        <option>Extend</option>
                    </select>
                </td>

                <td>
                    <select id='selectRightActorOrUC'></select>
                </td>

                <td><input type="text" name="textLabelName" id="textLabelName"/></td>

                <td style="width: 100px;"><button type="button" value="Add" id="btnRelationAdd">
                        <img class="button-image buttonAddImage" alt="" src="/isad/v_media/images/new/icons/add_16x16.png">
                        <span class="button-text">Add</span>
                    </button>
                </td>

            </tr>

        </tbody>
    </table>


    <h3 class="table-title-blue">Table #4: List of actors and use cases</h3> 
    <table class="techno" cellpadding="0" cellspacing="0" id="tableActorAndUCList" style="width: 450px;">
        <thead>
            <tr>
                <th>Actor</th>
                <th>Use Case</th>

            </tr>
        </thead>
        <tbody class="tbodyActorAndUCList">

            <tr>

                <td>
                    <ul id='completeActorList'></ul>
                </td>

                <td>
                    <ul id='completeUCList'></ul>
                </td>	

            </tr>

        </tbody>
    </table>


    <h3 class="table-title-blue">Table #5: List of relationships</h3> 
    <table class="techno" cellpadding="0" cellspacing="0" id="tableRelationList" style="width: 650px;">
        <thead>
            <tr>
                <th>Actor / Use Case</th>
                <th>Relationship Type</th>
                <th>Actor / Use Case</th>
                <th>Label</th>
                <th>Remove</th>

            </tr>
        </thead>
        <tbody class="tbodyRelationList">
        </tbody>
    </table>


    <p style="margin-top: 30px; margin-bottom: 10px;">
        <button type="button" id='btnUseCaseDiagram'>
            <img src="/isad/v_media/images/new/icons/preferences_desktop_color_24x24.png"
                 class="button-image buttonAddImage" alt="Draw diagram" title="Draw diagram">
            <span class="button-image button-text"><strong>Draw</strong></span>
        </button>
    </p>

    <div style="margin-bottom: 5px; width: auto;" class="silver-dotted-1px-pad-10 uml-diagram-container">
        <img src="{{ MEDIA_URL }}images/ajax/8_8_transparent.png" class="uml-diagram" alt="Use Case Diagram"
             class="center-align center-align-image">
    </div>
    <p>&nbsp;</p>

</form>


<script type='text/javascript' src='{{ MEDIA_URL }}js/jquery.min.js'></script>
<script type='text/javascript' src='{{ MEDIA_URL }}js/jquery-ui.min.js'></script>
<script type="text/javascript" src="/isad/v_media/js/common.js"></script>
<script type="text/javascript" src="/isad/v_media/js/exercises/draw_uml_diagram.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}lib/center-plugin_1.0.1.js"></script>

<script type="text/javascript" src="/isad/v_media/js/exercises/use_case_dia.js"></script>
