<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <title>PlantUML Interface</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="{{ MEDIA_URL }}css/isad.css" rel="stylesheet" type="text/css">
  </head>

  <body>

      <form method="post" action="" id="form-diagram" name="form-diagram">
          {% csrf_token %}
          <textarea name="diagram" rows="15" cols="75"></textarea>

          <p style="margin-top: 30px; margin-bottom: 10px;">
                <button type="button" id='draw-diagram'>
                    <img src="/isad/v_media/images/new/icons/preferences_desktop_color_24x24.png"
                         class="button-image buttonAddImage" />
                    <span class="button-image button-text"><strong>Draw</strong></span>
                </button>
          </p>
      </form>

      <div style="margin-bottom: 5px; " class="silver-dotted-1px padding-5px" id="uml-diagram-container">
          <img src="{{ MEDIA_URL }}images/ajax/8_8_transparent.png" id="uml-diagram" alt="UML diagram"
               class="center-align center-align-image">
      </div>

  </body>

  <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.min.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-ui-1.7.3.custom.min.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/common.js"></script>

  <script type="text/javascript">     
      $(document).ready(function() {
          $('#draw-diagram').click(function() {
              $.ajax({
                  type:     'POST',
                  url:      '/isad/isad/uml_dia/',
                  data:     $('#form-diagram').serialize(),
                  dataType: 'html',
                  cache:    false,
                  success:    function(mesg, txtStatus, XmlHttpRequest) {
                      result = $.parseJSON(mesg);
                      if (result['error']) {
                          alert('An error was encountered: ' + result['error']);
                          $('img#uml-diagram').attr('src', '/isad/v_media/images/ajax/8_8_transparent.png');
                      }
                      else {
                          //alert(result['diagram_url']);
                          var timestamp = new Date().getTime();
                          $('img#uml-diagram').attr('src', result['diagram_url']+'?ts='+timestamp);
                          highlight('#uml-diagram-container');
                      }
                  },
                  error:      function(XmlHttpRequet, txtStatus, errorThrown) {
                      alert('Failed to draw the UML diagram!!!\n' + errorThrown);
                      $('img#uml-diagram').attr('src', '/isad/v_media/images/ajax/8_8_transparent.png');
                  }
              })
              
          });
      })
  </script>

</html>

