/* 
    Document   : about_us
    Created on : 29 Oct, 2010, 12:48:23 PM
    Author     : barun
    Description:
        Purpose of the stylesheet follows.
*/


.aboutUs {
    padding-left: 10px;
}
p.aboutUsText {
    margin-left: 25px;
    font-size: 1.1em;
}
.creditsIcon {
    background-position: left;
    background-repeat: no-repeat;
}
.creditsHeader {
    padding-left: 30px;
}
