# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*~
*.log

# Files containing private information
credentials.py
secret.txt

# App's media files
#src/codes/python/django/nb/ISAD/src/vlabs/isad/static

# Skip symlinks
src/codes/python/django/nb/ISAD/src/vlabs/static_media/isad_erd
src/codes/python/django/nb/ISAD/src/vlabs/static_media/vlabs

# Uploaded files -- should we exclude?
media/uploads/*

media/isad_erd/*
media/vlabs/*

# pip logs
pip-log.txt
pip-delete-this-directory.txt

# Version control files
*.rej

# SQL files
#*.sql
