<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
    <title>Advanced Network Technologies Virtual Labs - IIT Kharagpur</title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

    <link href="{{ MEDIA_URL }}css/isad.css" rel="stylesheet" type="text/css" />
    <link href="{{ MEDIA_URL }}css/default.css" rel="stylesheet" type="text/css" />
    <!--link href="{{ MEDIA_URL }}css/custom.css" rel="stylesheet" type="text/css" /-->

    <!--style type="text/css">@import "css/flexnav.css";</style-->
    <!--script type="text/javascript" src="js/beethoven.js"></script-->

    <script type="text/javascript" src="{{ MEDIA_URL }}ddtabmenufiles/ddtabmenu.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}ddtabmenufiles/glowtabs.css" />

    <!--[if IE]>
    <style type="text/css">
    .glowingtabs{
        float: left;
        width: 90%;
        line-height: normal;
        border-bottom: 2px solid #7e9fff; /*Add border strip to bottom of menu*/
        margin-bottom: 5px;
    }
    </style>
    <![endif]-->

    <!-- For syntax highlighting -->
    <script type="text/javascript" src="{{ MEDIA_URL }}lib/SyntaxHighlighter/scripts/shCore.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}lib/SyntaxHighlighter/scripts/shBrushBash.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}lib/SyntaxHighlighter/scripts/shBrushCpp.js"></script>
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}lib/SyntaxHighlighter/styles/shCore.css"/>
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}lib/SyntaxHighlighter/styles/shThemeDefault.css"/>

</head>

<body bgcolor="#FFFFFF">

<div id="header_main">
    <!-- img src="" align="right" style="padding-right:20px" /-->
</div>
<div id="no_print"></div>

<!-- Header -->
<div id="header">
    <ul id="menuTop">
        <li style="list-style: none;"><a href="/isad/" target="_self">Home</a></li>
        <li style="list-style: none;"><a href="index.php" target="_self">About Us</a></li>
        <li style="list-style: none;"><a href="index.php" target="_self">Contact</a></li>
    </ul>
</div>

<div style="position: relative; margin:auto; width: 1024px; background-color: #e3f2fc; ">
    <span class="title" style="padding-left: 22px;">{% block title %}Virtual Simulation{% endblock %}</span>
</div>
<div id="no_print"></div>

<div id="contentBoxBack">
    <!-- Tabs -->
    <div id="contentBox">
        <br>
        <div id="ddtabs2" class="glowingtabs">
            <ul>
                <li><a href="{% url theory object_id %}"><span><center><img src="{{ MEDIA_URL }}images/new/theory.jpg">Theory</center></span></a></li>
                <li><a href="{% url procedure object_id %}"><span><center><img src="{{ MEDIA_URL }}images/new/procedure.jpg">Procedure</center></span></a></li>
                <li><a href="{% url simulation object_id %}"><span><center><img src="{{ MEDIA_URL }}images/new/sim.jpg">Simulator</center></span></a></li>
                <li><a href="{% url self_evaluation object_id %}"><span><center><img src="{{ MEDIA_URL }}images/new/eval.jpg">Self-evaluation</center></span></a></li>
                <li><a href="{% url exercise object_id %}"><span><center><img src="{{ MEDIA_URL }}images/new/kivio.png">Exercises</center></span></a></li>
                <li><a href="{% url references object_id %}"><span><center><img src="{{ MEDIA_URL }}images/new/library.png">References</center></span></a></li>
            </ul>
        </div>

        <!-- Actual content from here -->

            <!-- Commented by Barun -->
        <!--h1 class="title" style="padding-left: 0;"><a href="#">Title</a></h1-->
        <!--p class="meta">Posted by <a href="#">Barun Saha</a> on April 16, 2010
        &nbsp;&bull;&nbsp; <a href="#" class="comments">Comments</a>&nbsp; </p-->
            <!-- End Comment -->

        <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.min.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}js/common.js"></script>

        <div class="entry">
            {% block content %}{% endblock %}
        </div>

    </div>

</div>

<!-- Footer -->
<div style="position: relative; margin:auto; width: 1024px; background-color: #0e8de0; bottom: 0px;">
    <img src="{{ MEDIA_URL }}images/new/footer-curve.jpg" width="1024" height="31" alt="">
    <div class="copyright">Copyright &copy; 2009-2010 IIT Kharagpur</div>
    <br />
</div>

<div  id="top_arrow" style="position: fixed; bottom: 5px; right: 5px;">
    <img src="{{ MEDIA_URL }}images/arrow_up2.png" alt="Top"
         align="right" style="border: 0; width: 24px; height: 24px;" />
</div>

</body>
</html>