<!DOCTYPE html PUBLIC “-//W3C//DTD XHTML Transitional//EN”
“http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd”>
<html xmlns=”http://www.w3.org/1999/xhtml” xml:lang=”en” lang=”en”>
    <head>
        <meta http-equiv=”Content-type” content=”text/html; charset=utf-8″ />
        <title>{% block title %}{% endblock %}</title>
        <style type="text/css">
        body {
            margin: 0;
            padding: 0;
            top: 0;
            left: 0;
            height: 100%;                   
        }
        .header {
            font-family: fantasy;
            font-style: oblique;
            font-weight: 900;
            color: #7148a6;
            background-color: #c6ebf9;
            background-repeat: repeat-x;
            background-position: center;
            vertical-align: middle;
            text-align: center;
            border-bottom-width: 2px;
            border-bottom-style: solid;
	}
        </style>

    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/tabview.css" />
    <link href="{{ MEDIA_URL }}css/tab_view.css" rel="stylesheet" type="text/css" />
    <!-- For menubar -->
    <link href="{{ MEDIA_URL }}SpryAssets/SpryMenuBarHorizontal.css" rel="stylesheet" type="text/css" />
    <script src="{{ MEDIA_URL }}SpryAssets/SpryMenuBar.js" type="text/javascript"></script>   
    </head>

    <body onload='initMouseOver();'>        
    <table style="margin: 0px; padding: 0px; width: 100%; height: auto; border:0px;" cellpadding="0" cellspacing="0">
        <tr>
            <td style="background-color: #d9ecfb; width: 15%;">
                <img src='/isad/v_media/images/header/sakshat_logo.png' alt="Virtual Labs logo"
                    style="border: 0px; vertical-align: top; margin: 0px; padding: 0px; " />
            </td>
            <td style="text-align: center; background-position: center; border-width: 0px; background-color: #d9ecfb;">
                <span style="text-align: center; vertical-align: middle; font-family: 'Book Antiqua';
                        font-size: xx-large; font-style: oblique; color: #0066CC; font-weight: 900;">
                        Information Systems Analysis &amp; Design Lab
                </span>
            </td>
            <td style="background-color: #d9ecfb; width: 15%;" align="right">
                <img src='{{ MEDIA_URL }}images/header/gear_blue_lab.png' alt="Generic"
                    style="border: 0px; vertical-align: top; margin: 0px; padding: 0px; " />
            </td>
        </tr>
    </table>

    <!-- Top menu bar -->
    <div>
        <ul id="mbarVlabs" class="MenuBarHorizontal">
        <table cellpadding="0px" cellspacing="0px" style="width: 100%; border: 0px; height: 10px; color: #FFF; font-style: normal; font-family: Arial; font-size: small;">
            <tr style="height: 10px;">
                <td style="height: 10px;">
                  <li class="MenuBarItemSubmenu" style="height: 10px;">
                        <a id="mi_0" href="#" style="color: #FFFFFF; font-weight: bold;">Home</a></li>
                  </td>
                  <td>
                  <li class="MenuBarItemSubmenu" style="height: 10px;">
                        <a id="mi_1" href="#" style="color: #FFFFFF; font-weight: bold;">Project</a></li>
                  </td>
                  <td>
                  <li class="MenuBarItemSubmenu" style="height: 10px;">
                        <a id="mi_2" href="#" style="color: #FFFFFF; font-weight: bold;">Vision</a>
                  </li>
                  </td>
                  <td>
                  <li class="MenuBarItemSubmenu" style="height: 10px;">
                        <a id="mi_3" href="#" style="color: #FFFFFF; font-weight: bold;">People</a></li>
                  </td>
                  <td>
                  <li class="MenuBarItemSubmenu" style="height: 10px;">
                        <a id="mi_4" href="#" style="color: #FFFFFF; font-weight: bold;">FAQ</a></li>
                  </td>
                  <td>
                  <li class="MenuBarItemSubmenu" style="height: 10px;">
                        <a id="mi_5" href="#" style="color: #FFFFFF; font-weight: bold;">Contact Us</a></li>
                  </td>
                  <td>
                  <li class="MenuBarItemSubmenu" style="height: 10px;">
                        <a id="mi_6" href="#" style="color: #FFFFFF; font-weight: bold;">Feedback</a></li>
                  </td>
                  <td>
                  <li class="MenuBarItemSubmenu" style="height: 10px;">
                        <a id="mi_7" href="#" style="color: #FFFFFF; font-weight: bold;">Vlab.co.in</a></li>
                  </td>
                  <td>
                  </td>
                  <td>
                  <li class="MenuBarItemSubmenu" style="height: 10px;">
                        <a id="mi_8" href="#" style="color: #FFFFFF; font-weight: bold;">Blog</a></li>
                  </td>
              </tr>
          </table>
          </ul>
    </div>

    <!-- A hidden field to keep track of which section is being selected -->
    <!--form action="/isad/1/simulation/" method="get">
        <input type="hidden" id="hSection" name="hSection" value="THEORY" />
        <input type="submit" />
    </form-->

    <!-- Two column, single row table to accommodate the left hand side menu 
    and the main contents of the page -->
    <table border="0" style="padding-top: 20px; width: 100%; height: auto; overflow: auto;">
        <tbody>
            <tr>
                <td>
                    <!-- Menu -->
                    <table id="tabsMenu" width="120px" border="0" cellspacing="0" cellpadding="0">
                        <tr id="tabsMenuRow">
                            <td width="117" valign="middle" class="tabCols">
                            <a href="/theory" class="tabCols"><img src="{{ MEDIA_URL }}images/tabs/theory.png" alt="a" class="tabCols" />Theory</a></td>
                        </tr>
                        <tr>
                            <td class="tabCols">
                            <a href="/simulation" class="tabCols"><img src="{{ MEDIA_URL }}images/tabs/simulation.png" alt="a" class="tabCols" />Simulation</a></td>
                        </tr>
                        <tr>
                            <td class="tabCols">
                            <a href="/exercises" class="tabCols"><img src="{{ MEDIA_URL }}images/tabs/experiment.png" alt="a" class="tabCols" />Exercises</a></td>
                        </tr>
                        <tr>
                            <td class="tabCols">
                            <a href="/evaluation" class="tabCols"><img src="{{ MEDIA_URL }}images/tabs/evaluation.png" alt="a" class="tabCols" />Evaluation</a></td>
                        </tr>
                        <tr>
                            <td class="tabCols">
                            <a href="/references" class="tabCols"><img src="{{ MEDIA_URL }}images/tabs/references.png" alt="a" class="tabCols" />References</a></td>
                        </tr>
                    </table>
                </td>
                <td>                    
                    <div style="padding-left: 5px; padding-right: 5px; overflow: scroll; width: 100%; height: 50%;">
                        <!-- Main contents goes here -->                        
                        {% block content %}{{ MEDIA_URL }}{% endblock %}
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <br />
   
    <p class="footer">
    <small>Copyright &copy; Barun Saha 2010</small>
    </p>

    
    <!-- JavaScript for menubar -->
    <script type="text/javascript">
    <!--
    var MenuBar1 = new Spry.Widget.MenuBar("mbarVlabs", {imgDown:"{{ MEDIA_URL }}SpryAssets/SpryMenuBarDownHover.gif", imgRight:"{{ MEDIA_URL }}SpryAssets/SpryMenuBarRightHover.gif"});

    function initMouseOver() {
            /* For the horizontal menubar at the top of the page */
            if (document.getElementById)
                    var x = document.getElementById('mbarVlabs').getElementsByTagName('a');
            else if (document.all)
                    var x = document.all['mbarVlabs'].all.tags('a');
            else
                    return;

            for (var i = 0; i < x.length; i++) {
                    // Load the initial background images
                    x[i].style.backgroundImage =  "url({{ MEDIA_URL }}images/gradient_blue_menubar.jpg)";
                    x[i].style.backgroundRepeat = "repeat-x";
                    //x[i].style.borderBottom = "1px solid blue";

                    x[i].onmouseover = function() {
                            this.style.backgroundImage = "url({{ MEDIA_URL }}images/gradient_blue_menubar_reverse.jpg)";
                    }
                    x[i].onmouseout = function() {
                            this.style.backgroundImage = "url({{ MEDIA_URL }}images/gradient_blue_menubar.jpg)";
                    }
            }

            /* For the menu at the left side of the page */
            if (document.getElementById)
                    var x = document.getElementById('tabsMenu').getElementsByTagName('td');
            else if (document.all)
                    var x = document.all['tabsMenu'].all.tags('td');
            else
                    return;

            for (var i = 0; i < x.length; i++) {
                    x[i].onmouseover = function() {
                            //alert(this.style.backgroundColor);
                            this.style.backgroundColor = "silver";
                    }
                    x[i].onmouseout = function() {
                            this.style.backgroundColor = "#CCE6FF";
                    }
            }
    }
    //-->
    </script>

    </body>
</html>