<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">

<html>
<head>
    <title>Software Engineering Virtual Labs - IIT Kharagpur</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="keywords" content="Virtual Lab, VLabs, Software Engineering, UML, Use case diagrams, Django">
    {% load staticfiles %}
    <link rel="shortcut icon" type="image/png" href="{% static 'isad/images/folder_labs_32.png' %}">

    <link href="{% static 'isad/css/isad.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'isad/css/default.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'isad/css/custom.css' %}" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" type="text/css" href="{% static 'isad/ddtabmenufiles/glowtabs.css' %}" />

    <!--[if IE]>
    <style type="text/css">
    .entry {
        padding: 10px;
        padding-top: 80px;
    }
    .glowingtabs{
        float: left;
        width: 90%;
        line-height: normal;
        border-bottom: 2px solid #7e9fff;
        margin-bottom: 5px;
    }
    </style>
    <![EndIf]-->

    <style type="text/css">
        .inline {
            display: inline;
        }
        div#general-header-icon {
            border-bottom: 2px solid #7E9FFF; padding-top: 10px;
        }
	.footer {line-height: 1.5em}
    </style>

</head>

<body bgcolor="#FFFFFF">

<div id="header_main">
    <img src="{% static 'isad/images/iit_kgp_80.png' %}" align="right" class="iitLogo" />
</div>
<div id="no_print"></div>

<!-- Header -->
<div id="header">
    <ul id="menuTop">
        <li><a href="{{ reverse_proxy_url }}{% url 'index_page' %}" target="_self">Home</a></li>
        <li><a href="{{ reverse_proxy_url }}{% url 'about_us' %}" target="_self">Credits</a></li>
        <li><a href="https://docs.google.com/forms/d/1kRAlDEEqaEd_UTqDXvy8IWlbPRL4Ul20MbXEcL9PG4Q/viewform" target="_blank">
            Feedback</a></li>
        <li><a href="http://vlabs.iitkgp.ernet.in/ant/">Advanced Network Technologies Virtual Lab</a></li>
        <li><a href="http://vlab.co.in/">Virtual Labs</a></li>
    </ul>
</div>

<div style="text-align: left; position: relative; margin:auto; width: 1024px; background-color: #e3f2fc; ">
    <span class="title" style="padding-left: 22px;">Software Engineering Virtual Lab</span>
</div>
<div id="no_print"></div>

<div id="contentBoxBack">
    <!-- Tabs -->
    <div id="contentBox">
        <div id="general-header-icon">

            <img src="{% block icon %}{% endblock %}" alt="Icon" class="inline" />
            <h1 class="inline" style="top: -20px; position: relative;">{% block heading %} {% endblock %}</h1>

        </div>

        <div class="entry" style="padding-top: 10px;">
            {% block content %} {% endblock %}
        </div>
    </div>
</div>

<!-- Footer -->
<div class="footer" style="position: relative; height: 90px;">
	<img src="{% static 'isad/images/new/footer-curve.jpg' %}" width="1024" height="31" alt="">


	<a href="http://www.djangoproject.com/" style="border: 0px solid red; width: 120px; float: left; padding-left: 50px; padding-top: 15px;">
	<img src="http://www.djangoproject.com/m/img/badges/djangomade124x25.gif"
		border="0" alt="A Django powered site." title="A Django powered site."
		style="float: right;">
	</a>


	<div style="border: 0px solid red; top: -5px; width: 300px; float: right; text-align: left; padding-right: 80px;">
		<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/"
			style="float: left;">
			<img alt="Creative Commons License" style="border-width:0;
				margin: 0px; margin-right: 5px; float: left; clear: right;"
				src="http://i.creativecommons.org/l/by-nc-sa/3.0/88x31.png">
		</a>
		Except where otherwise <a href="{% url 'license' %}">noted</a>,
		content on this site  is licensed under a <a rel="license"
		href="http://creativecommons.org/licenses/by-nc-sa/3.0/">CC-BY-NC-SA-3.0
		License</a>.
	</div>


	<div style="border: 0px solid red; width: 450px; float: left; border-right: 0.1em solid #2EABD1;">
	<div class="tos" >
		<a href="http://virtual-labs.ac.in/nmeict/" target="_blank" class="tos">Sponsored by MHRD (NME-ICT)</a>
		<span class="tos">&nbsp; | &nbsp;</span>
		<a href="http://virtual-labs.ac.in/licensing/" target="_blank" class="tos">Licensing Terms</a>
		<span class="tos">&nbsp; | &nbsp;</span>
		<a href="http://vlab.co.in/disclaimer.php" target="_blank" class="tos">Disclaimer</a>
	</div>

	<div class="copyright">Copyright &copy; 2010-2016 IIT Kharagpur</div>
	</div>
</div>


<div  id="top_arrow" class="topArrow">
    <img src="{% static 'isad/images/arrow_up2.png' %}" alt="Top"  align="right" />
</div>

<script type="text/javascript" src="{% static 'isad/js/jquery.min.js' %}"></script>
<script async type="text/javascript" src="{% static 'isad/js/common.js' %}"></script>
<script async type="text/javascript" src="{% static 'isad/ddtabmenufiles/ddtabmenu.js' %}"></script>
<script async type="text/javascript" src="{% static 'isad/lib/SyntaxHighlighter/scripts/shCore.js' %}">
</script>

{% block includeScripts %} {% endblock %}

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ////ga('create', 'UA-47707640-1', 'virtual-labs.ac.in');
  ga('create', 'UA-47707640-1', 'auto', {'cookiePath': '/cse08/'});
  ga('send', 'pageview');

</script>

</body>
</html>
