{% extends 'base2.html' %}

{% block title %}
    {{ theory.title }}
{% endblock %}

{% block content %}
<style type="text/css">
    div#title {
        padding-bottom: 5px;
    }
    div#title h1 {
        color: #0033CC;
    }
    div#contents {

    }
</style>




<div id="contents" class="font-normal">
    <div class="experiment-objectives">
        <h2>Objectives</h2>
        <p>
            <strong>After completing this experiment you will be able to:</strong>
            {{ theory.objectives|safe }}
        </p>
    </div>
    <div class="experiment-duration">
        <h2>Time Required</h2>
        <p>
            Around <strong>{{ theory.time_required|safe }}</strong> hours
        </p>
    </div>
    <hr class="dotted-line" />

    {{ theory.content|safe }}
</div>

<div class="hidden">
    <input type="hidden" id="h_tid" value="{{ theory.id }}" />
    <input type="hidden" id="h_sbase" value="{{ SITE_BASE }}" />
</div>

<div class="clear"></div>

{% endblock %}
