
<form method="" action="">  

    {% for item in entries %}
    <div id="question_{{ forloop.counter }}">
        <h2 id="q_{{ forloop.counter }}" style="padding-top: 8px;">{{ item.0 }}</h2>
        <div id="choices_{{ forloop.counter }}">
            {% for question in item.1 %}
            <p id="option{{ forloop.parentloop.counter }}_{{ forloop.counter }}" class="option">
                <input type="checkbox" name="q_{{ forloop.counter }}" value="{{ question.0 }}" /> {{ question.1 }} 
                <img src="/cse08/isad/v_media/images/transparent_2x2.png" class="ansImageInvisible" style="display: inline; padding-left: 20px;" />
            </p>
            {% endfor %}            
        </div>
    </div>
    {% endfor %}    

    <hr style="margin-top: 10px; margin-bottom: 10px; color: silver;" />

    <div class="centerAlign">
        <input type="reset" id="btnReset" value="Reset" />
        <input type="button" id="btnSave" value="Submit" />
    </div>
</form>

<script type="text/javascript" language="javascript">
    $(document).ready(function() {
          // Submit button below the exercise won't be used here
          $('#btnSubmit').attr('disabled', true);

        function clearMark() {
            $("p[id^=option]").each(function (index, item) {
                $(this).removeClass('wrong correct');
            });

            $("div[id^=choices] p").removeClass("correct");
            $("div[id^=choices] p").removeClass("wrong");
            $("div[id^=choices] img").attr("src", "");
            $("div[id^=choices] img").removeClass("ansImageVisible");
            $("div[id^=choices] img").addClass("ansImageInvisible");
            $("div[id^=choices] img").addClass("ansImage");

            $("#result_display").html('');
        }

        $("div[id^=choices] img").addClass("ansImage");

        $("#btnReset").click(function() {
            clearMark();
        });

        $("#btnSave").click(function() {
            clearMark();

            var nQuestions = $("div[id^=question]").length;            
            var nCorrect = 0;
            var isMissedOut = false;    // Indicates if any correct option has not been selected
            var isWrong = false;        // Indicates if any wrong option is selected
            
            for (var iQuestion = 1; iQuestion <= nQuestions; iQuestion ++) {

                var nOptions = $("div#question_" + iQuestion + " div#choices_" + iQuestion + " p").length;

                for (var iOption = 1; iOption <= nOptions; iOption ++) {
                    var optionSelector = "div#question_" + iQuestion + " div#choices_" + iQuestion + " input:checkbox[name=q_" + iOption + "]";

                    if ($(optionSelector).attr('checked')) {
                        if (parseInt($(optionSelector).val())) {
                            isWrong = isWrong | false;
                            $("div#question_" + iQuestion + " p#option" + iQuestion + "_" + iOption).addClass("correct");
                            $("div#question_" + iQuestion + " p#option" + iQuestion + "_" + iOption + " img").removeClass("ansImage");
                            $("div#question_" + iQuestion + " p#option" + iQuestion + "_" + iOption + " img").removeClass("ansImageInvisible");
                            $("div#question_" + iQuestion + " p#option" + iQuestion + "_" + iOption + " img").addClass("ansImageVisible");
                            $("div#question_" + iQuestion + " p#option" + iQuestion + "_" + iOption + " img").attr("src", "/cse08/isad/v_media/images/accept.png");
                            $("div#question_" + iQuestion + " p#option" + iQuestion + "_" + iOption + " img").attr("height", "16");
                            $("div#question_" + iQuestion + " p#option" + iQuestion + "_" + iOption + " img").attr("width", "16");
                        }
                        else {
                            isWrong = true;
                            $("div#question_" + iQuestion + " p#option" + iQuestion + "_" + iOption).addClass("wrong");
                            $("div#question_" + iQuestion + " p#option" + iQuestion + "_" + iOption + " img").removeClass("ansImage");
                            $("div#question_" + iQuestion + " p#option" + iQuestion + "_" + iOption + " img").removeClass("ansImageInvisible");
                            $("div#question_" + iQuestion + " p#option" + iQuestion + "_" + iOption + " img").addClass("ansImageVisible");
                            $("div#question_" + iQuestion + " p#option" + iQuestion + "_" + iOption + " img").attr("src", "/cse08/isad/v_media/images/exclamation.gif");
                            $("div#question_" + iQuestion + " p#option" + iQuestion + "_" + iOption + " img").attr("height", "16");
                            $("div#question_" + iQuestion + " p#option" + iQuestion + "_" + iOption + " img").attr("width", "16");
                        }
                    }                    

                    if (! $(optionSelector).attr('checked')) {
                        if (parseInt($(optionSelector).val()))
                            isMissedOut = true;              
                    }
                }                
            }
            
            if (isWrong) {                
                $("#result_display").html('<em>One or more selected option(s) is(are) incorrect!</em>');
                alert('One or more correct option(s) selected seems to be incorrect!');
                return;
            }

            if (isMissedOut) {
                $("#result_display").html('<em>One or more correct option(s) has(have) not been selected!</em>');
                alert('One or more correct option(s) has(have) not been selected');                
                return;
            }
            
            if (! isWrong && ! isMissedOut) {
                $("html, body").animate({scrollTop: $("#contentBox").height()}, 800);
                $("#result_display").html('<strong><em>Excellent!</em></strong>');
            } 
        });
    });
</script>
