<!-- Activity diagrams -->
<link href="{{ MEDIA_URL }}css/isad_workspace.css" rel="stylesheet" type="text/css">

<style type="text/css">
    .activity-list, .fork-point-list, .merge-point-list {
        display: block;
        vertical-align: middle;
    }    
    #w-activity ul {
        background-color: white;
    }
    #w-activity ul li {
        list-style-type: disc;
    }
</style>


<form method="" action="">
    <!-- #1: Add activity -->
    <h3 class="table-title-blue">Table #1: Add activity</h3>
    <table class="techno exercises" cellpadding="0" cellspacing="0" id="tbl-add-activity">
        <thead>
            <tr>
                <th>Activity Description</th>
                <th>Add</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="text" id="activity" title="Specify the activity in two to three words" class="focus-box"></td>
                <td>
                    <button  type="button" id="add-activity" title="Add an activity">
                        <img src="{{ MEDIA_URL }}images/new/icons/add_16x16.png"
                             class="button-image buttonAddImage" alt="Add">
                        <span class="button-text">Add</span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>


    <!-- #2: Add simple sequential flows -->
    <h3 class="table-title-blue">Table #2: Add simple sequential flows</h3>
    <table class="techno exercises" cellpadding="0" cellspacing="0" id="tbl-seq-flow"
           style="width: 70%;">
        <thead>
            <tr>
                <th>Current Activity</th>
                <th>Next Activity</th>
                <th>Guard Condition</th>
                <th>Add</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <select name="cur-activity-seq" id="cur-activity-seq" class="activity-list">
                        <option value="0" selected>Current activity</option>
                    </select>
                </td>
                <td>
                    <select name="nxt-activity-seq" id="nxt-activity-seq" class="activity-list">
                        <option value="0" selected>Next activity</option>
                    </select>
                </td>
                <td><input type="text" id="guard-condition" title="[Optional] Guard condition for transition" class="focus-box"></td>
                <td>
                    <button  type="button" id="add-seq-flow"
                             title="Add simple transition from one activity to another">
                        <img src="{{ MEDIA_URL }}images/new/icons/add_16x16.png"
                             class="button-image buttonAddImage" alt="Add">
                        <span class="button-text">Add</span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>


    <!-- #3: List of simple transitions between activities -->
    <h3 class="table-title-blue">Table #3: List of simple transitions between activities</h3>
    <table class="techno exercises" cellpadding="0" cellspacing="0" id="tbl-list-simple-transitions"
           style="width: 70%;">
        <thead>
            <tr>
                <th>Current Activity</th>
                <th>Next Activity</th>
                <th>Guard Condition</th>
                <th>Remove</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>


    <!-- #4: Create parallel activities (simple) -->
    <h3 class="table-title-blue">Table #4: Specify parallel workflows (simple)</h3>
    <table class="techno exercises" cellpadding="0" cellspacing="0" id="tbl-fork"
           style="width: 90%;">
        <thead>
            <tr>
                <th>Type</th>
                <th>Current Activity(ies)</th>
                <th>Synchronization Bar</th>
                <th>Following Activity(ies)</th>
                <th>Add</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td><strong>Create <br>parallel activities</strong></td>
                <td style="width: 25%;">
                    <select name="cur-activity-parallel" id="cur-activity-parallel" class="activity-list">
                        <option value="0" selected>Current activity</option>
                    </select>
                </td>
                <td rowspan="2" style="width: 25%;">
                    <div style="width: 200px;">
                        <select style="display: inline;" title="A simple label to identify this fork point in future"
                                class="synchronization-list" id="fork-point" name="fork-point">
                            <option value="0">Synchronization bar</option>
                        </select>
                        <a title="Add a new synchronization bar" href="#" class="add-fork-point">
                            <img alt="Add" src="{{ MEDIA_URL }}images/new/icons/add_green_16x16.png"
                                 class="add-item-inline">
                        </a>
                    </div>
                    <br>
                    <p style="text-align: center; font-size: 12px; display: block;">
                        <strong>NOTE:</strong> Please specify separate synchronization bars for fork and join
                    </p>
                </td>
                <td>
                    <div style="display: block; width: auto;" id="fork-activities-list">
                        <!-- At least two activities should be selected here -->
                        <select name="nxt-activity-1" id="nxt-activity-1" class="activity-list fork-activity">
                            <option value="0">Parallel activity #1</option>
                        </select>
                        <select name="nxt-activity-2" id="nxt-activity-2" class="activity-list fork-activity">
                            <option value="0">Parallel activity #2</option>
                        </select>
                        <select name="nxt-activity-3" id="nxt-activity-3" class="activity-list fork-activity">
                            <option value="0">Parallel activity #3</option>
                        </select>
                        <select name="nxt-activity-4" id="nxt-activity-4" class="activity-list fork-activity">
                            <option value="0">Parallel activity #4</option>
                        </select>
                        <select name="nxt-activity-5" id="nxt-activity-5" class="activity-list fork-activity">
                            <option value="0">Parallel activity #5</option>
                        </select>
                    </div>
                </td>
                <td>
                    <button  type="button" id="add-activities-fork"
                             title="Fork multiple parallel activities from a given activity">
                        <img src="{{ MEDIA_URL }}images/new/icons/add_16x16.png"
                             class="button-image buttonAddImage" alt="Add">
                        <span class="button-text">Add</span>
                    </button>
                </td>
            </tr>

            <tr>
                <td><strong>Merge <br>parallel activities</strong></td>
                <td>
                    <div style="display: block; width: auto;" id="merge-activities-list">
                        <!-- At least two activities should be selected here -->
                        <select name="cur-activity-1" id="cur-activity-1" class="activity-list merge-activity">
                            <option value="0">Parallel activity #1</option>
                        </select>
                        <select name="cur-activity-2" id="cur-activity-2" class="activity-list merge-activity">
                            <option value="0">Parallel activity #2</option>
                        </select>
                        <select name="cur-activity-3" id="cur-activity-3" class="activity-list merge-activity">
                            <option value="0">Parallel activity #3</option>
                        </select>
                        <select name="cur-activity-4" id="cur-activity-4" class="activity-list merge-activity">
                            <option value="0">Parallel activity #4</option>
                        </select>
                        <select name="cur-activity-5" id="cur-activity-5" class="activity-list merge-activity">
                            <option value="0">Parallel activity #5</option>
                        </select>
                    </div>
                </td>

                <td>
                    <select name="nxt-activity-parallel" id="nxt-activity-parallel" class="activity-list">
                        <option value="0" selected>Next activity</option>
                    </select>
                </td>
                <td>
                    <button  type="button" id="add-activities-merge"
                             title="Merge multiple parallel activities to a given activity">
                        <img src="{{ MEDIA_URL }}images/new/icons/add_16x16.png"
                             class="button-image buttonAddImage" alt="Add">
                        <span class="button-text">Add</span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>


    <!-- #5: List of parallel activities -->
    <h3 class="table-title-blue">Table #5: List of parallel activities (simple)</h3>
    <table class="techno exercises" cellpadding="0" cellspacing="0" id="tbl-list-parallel-activities"
           style="width: 70%;">
        <thead>
            <tr>
                <th>Current Activity</th>
                <th>Fork Point</th>
                <th>Fork To Activities</th>
                <th>Merge Point</th>
                <th>Merge To Activities</th>
                <th>Remove</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>


    <!-- #6: Conditional activities -->
    <h3 class="table-title-blue">Table #6: Add conditional transitions from activity</h3>
    <table class="techno exercises" cellpadding="0" cellspacing="0" id="tbl-conditional-activities"
           style="width: 70%">
        <thead>
            <tr>
                <th>Current Activity</th>
                <th>Condition & Subsequent Action</th>
                <th>Add</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <select name="cur-activity-conditional" id="cur-activity-conditional" class="activity-list">
                        <option>Current activity</option>
                    </select>
                </td>
                <td style="width: 400px;">
                    <div style="padding: 5px; background-color: white; width: 350px; border: 1px dotted green;
                         text-align: left;" id="if-true">
                        <strong>IF</strong>
                        <input type="text" id="condition" class="focus-box"
                               title="Specify a simple condition (example: Is POST?)" value="A condition">
                        <strong>THEN</strong>

                        <div style="display: block; margin-left: 20px; text-align: left; width: auto;">
                            <input type="radio" name="true-options" value="activity"
                                    class=""> Activity
                            <select name="nxt-activity-true" id="nxt-activity-true" class="activity-list"
                                    disabled="true" style="display: inline;">
                                <option value="0" selected>Next activity</option>
                            </select>
                            <br>
                            <input type="radio" name="true-options" value="fork-point"
                                    class=""> Fork
                            <select name="nxt-fork-point-true" id="nxt-fork-point-true" class="synchronization-list"
                                    disabled="true" style="display: inline;">
                                <option value="0" selected>Synchronization bar</option>
                            </select>
                            <br>
                            <input type="radio" name="true-options" value="merge-point"
                                    class=""> Merge
                            <select name="nxt-merge-point-true" id="nxt-merge-point-true" class="synchronization-list"
                                    disabled="true" style="display: inline;">
                                <option value="0" selected>Synchronization bar</option>
                            </select>
                            <br>
                            Guard condition: <input type="text" id="guard-true" class="focus-box"
                                  title="Specify guard condition, if any" value="True" style="width: 120px;">

                        </div>
                    </div>
                    <div style="background-color: #EFEFEF; border: 1px dotted purple; text-align: left; width: 350px; margin-top: 1px; padding: 5px;" id="if-false">
                        <strong style="text-align: left;">ELSE</strong>
                        <br>
                        <div style="display: block; margin-left: 20px; text-align: left; width: auto;">
                            <input type="radio" name="false-options" value="activity"
                                    class=""> Activity
                            <select name="nxt-activity-false" id="nxt-activity-false" class="activity-list"
                                    disabled="true" style="display: inline;">
                                <option value="0" selected>Next activity</option>
                            </select>
                            <br>
                            <input type="radio" name="false-options" value="fork-point"
                                    class=""> Fork
                            <select name="nxt-fork-point-false" id="nxt-fork-point-false" class="synchronization-list"
                                    disabled="true" style="display: inline;">
                                <option value="0" selected>Synchronization bar</option>
                            </select>
                            <br>
                            <input type="radio" name="false-options" value="merge-point"
                                    class=""> Merge
                            <select name="nxt-merge-point-false" id="nxt-merge-point-false" class="synchronization-list"
                                    disabled="true" style="display: inline;">
                                <option value="0" selected>Synchronization bar</option>
                            </select>
                            <br>
                            Guard condition: <input type="text" id="guard-false" class="focus-box"
                                    title="Specify guard condition, if any" value="False" style="width: 120px;">
                        </div>
                    </div>
                </td>
                <td>
                    <button  type="button" id="add-conditional-activity"
                             title="Add activites based on conditions">
                        <img src="{{ MEDIA_URL }}images/new/icons/add_16x16.png"
                             class="button-image buttonAddImage" alt="Add">
                        <span class="button-text">Add</span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- #7: Conditional activities -->
    <h3 class="table-title-blue">Table #7: List of conditional transitions from activity</h3>
    <table class="techno exercises" cellpadding="0" cellspacing="0" id="tbl-list-conditional-activities"
           style="width: 70%;">
        <thead>
            <tr>
                <th>Current Activity</th>
                <th>Condition</th>
                <th>If TRUE</th>
                <th>Guard Condition</th>
                <th>If FALSE</th>
                <th>Guard Condition</th>
                <th>Remove</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>

    <p style="margin-top: 30px; margin-bottom: 10px;">
        <button type="button" id='draw-activity-diagram'>
            <img src="{{ MEDIA_URL }}images/new/icons/preferences_desktop_color_24x24.png"
                 class="button-image buttonAddImage" alt="Draw diagram" title="Draw diagram">
            <span class="button-image button-text"><strong>Draw</strong></span>
        </button>
    </p>
</form>

<div>
    NOTE: Orientation of some of the arrows change randomly. Please redraw the diagram again to do so.
</div>
<div style="margin-bottom: 5px; width: auto;" class="silver-dotted-1px-pad-10 uml-diagram-container">
    <img src="{{ MEDIA_URL }}images/ajax/8_8_transparent.png" class="uml-diagram" alt="Activity Diagram"
         class="center-align center-align-image">
</div>
<p>&nbsp;</p>


<script type='text/javascript' src='{{ MEDIA_URL }}js/jquery.min.js'></script>
<!--script type='text/javascript' src='{{ MEDIA_URL }}js/jquery-ui.min.js'></script-->
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-ui-1.7.3.custom.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/common.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/exercises/draw_uml_diagram.js"></script>
<script type='text/javascript' src='{{ MEDIA_URL }}lib/jquery.editable-1.3.3.min.js'></script>

<script type="text/javascript" src="{{ MEDIA_URL }}js/exercises/activity_dia.js"></script>
