{% load staticfiles %}
<link href="{% static 'isad/css/isad_workspace.css' %}" rel="stylesheet" type="text/css">

<form method=" " action=" " id=" ">

    <h3 class="table-title-blue">Table #1: Add a class</h3> 
    <table class="techno exercises" cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th>Class name</th>
                <th>Add</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>
                    <input type="text" name="textClass" id="textClass"/>
                </td>

                <td>                    
                    <button type="button" value="Add" id='btnAddClass'>
                        <img src="{% static 'isad/images/new/icons/add_16x16.png' %}" class="buttonAddImage" />
                        <span class="buttonText">Add</span>
                    </button> 
                </td>

            </tr>

        </tbody>
    </table>


    <h3 class="table-title-blue">Table #2: Add attributes to classes</h3>
    <table class="techno" cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th>Select class</th>
                <th>Attribute</th>
                <th>Type</th>
                <th>Add</th>
            </tr>
        </thead>
        <tbody>

            <tr>

                <td>
                    <select id='selectClassForAttribute'>

                    </select>
                </td>

                <td>
                    <input type="text" name="textAttribute" id="textAttribute"/>
                </td>

                <td>
                    <select id='typeOfAttribute'>
                        <option>Integer</option>
                        <option>Float</option>
                        <option>String</option>
                        <option>Long</option>
                        <option>Double</option>
                        <option>Boolean</option>
                    </select>
                </td>

                <td>
                    <button type="button" value="Add" id='btnAddAttribute'>
                        <img src="{% static 'isad/images/new/icons/add_16x16.png' %}" class="buttonAddImage" />
                        <span class="buttonText">Add</span>
                    </button> 
                </td>

            </tr>

        </tbody>
    </table>


    <h3 class="table-title-blue">Table #3: Add operations to classes</h3>
    <table class="techno" cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th>Select class</th>
                <th>Operation</th>
                <th>Return Type</th>
                <th>Add</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>
                    <select id='selectClassForOperation'>

                    </select>
                </td>

                <td>
                    <input type="text" name="textOperation" id="textOperation"/>
                </td>

                <td>
                    <select id='returnTypeOfOperation'>
                        <option>void</option>
                        <option>Integer</option>
                        <option>Float</option>
                        <option>String</option>
                        <option>Long</option>
                        <option>Double</option>
                        <option>Boolean</option>
                    </select>
                </td>

                <td>                    
                    <button type="button" value="Add" id='btnAddOperation'>
                        <img src="{% static 'isad/images/new/icons/add_16x16.png' %}" class="buttonAddImage" />
                        <span class="buttonText">Add</span>
                    </button> 
                </td>
            </tr>

        </tbody>
    </table>  


<h3 class="table-title-blue">Table #4: Add generalization/specialization relationships</h3>
<table class="techno" cellpadding="0" cellspacing="0">
    <thead>
        <tr>
            <th>Select sub-class</th>
            <th>Inheritance</th>
            <th>Select super-class</th>
            <th>Add</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <select id="selectSubClass" name="selectSubClass">
                </select>
            </td>

            <td>
                Extends
            </td>

            <td>
                <select id="selectSuperClass" name="selectSuperClass">
                </select>
            </td>

            <td>
                <button type="button" value="Add" id='btnAddInheritance'>
                    <img src="{% static 'isad/images/new/icons/add_16x16.png' %}" class="buttonAddImage" />
                    <span class="buttonText">Add</span>
                </button> 
            </td>

        </tr>

    </tbody>
</table>


<h3 class="table-title-blue">Table #5: Add association relationships</h3>

<div style="overflow: scroll; width: 100%;">
    <table class="techno" cellpadding="0" cellspacing="0" id="addAssociation" 
           style="width: 100%; margin-right: 10px; margin-left: 0;">
        <thead>
            <tr>
                <th>Select class</th>
                <th>Role<br>(optional)</th>
                <th>Multiplicity<br>(optional)</th>
                <th>Association name<br>(optional)</th>
                <th>Association type</th>
                <th>Multiplicity<br>(optional)</th>
                <th>Role<br>(optional)</th>
                <th>Select class</th>
                <th>Add</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <select id='selectClass1ForAssociation'></select>
                </td>

                <td>
                    <input type="text" name="textRole1" id="textRole1" style="width: 100px;" />
                </td>

                <td>
                    <select id='selectMultiplicityForClass1'>
                        <option>Not specified</option>
                        <option>1</option>
                        <option>2</option>
                        <option>0..1</option>
                        <option>0..*</option>
                        <option>1..*</option>
                        <option>*</option>
                    </select>
                </td>

                <td>
                    <input type="text" name="textAssociationName" id="textAssociationName" style="width: 100px;" />
                </td>

                <td><select name="selectAssociationType" id="selectAssociationType">
                        <option>Simple association</option>
                        <option>Navigation association</option>
                        <option>Aggregation</option>
                        <option>Composition</option>
                        <option>Dependency</option>
                    </select></td>

                <td>
                    <select id='selectMultiplicityForClass2'>
                        <option>Not specified</option>
                        <option>1</option>
                        <option>2</option>
                        <option>0..1</option>
                        <option>0..*</option>
                        <option>1..*</option>
                        <option>*</option>
                    </select>
                </td>

                <td>
                    <input type="text" name="textRole2" id="textRole2" style="width: 100px;" />
                </td>

                <td>
                    <select id='selectClass2ForAssociation'></select>
                </td>

                <td>                    
                    <button type="button" value="Add" id='btnAddAssociation'>
                        <img src="{% static 'isad/images/new/icons/add_16x16.png' %}" class="buttonAddImage" />
                        <span class="buttonText">Add</span>
                    </button> 
                </td>

            </tr>

        </tbody>
    </table>
</div>

<p>&nbsp;</p>

<h3 class="table-title-blue">Table #6: Classes identified for solution</h3>
<table class="techno" cellpadding="0" cellspacing="0" id="tableClassInformation">
    <thead>
        <tr>
            <th>Class</th>
            <th>Attributes</th>
            <th>Operations</th>
        </tr>
    </thead>
    <tbody class="tbodyClassInformation">
       

    </tbody>
</table>
<h3 class="table-title-blue">Table #7: Generalization identified for solution</h3>
<table class="techno" cellpadding="0" cellspacing="0">
    <thead>
        <tr>
            <th>Sub-class</th>
            <th>Super-class</th>
        </tr>
    </thead>
    <tbody class="tbodyInheritance">
    </tbody>

</table>


<h3 class="table-title-blue">Table #8: Relations between classes identified for solution</h3>
<table class="techno" cellpadding="0" cellspacing="0" id="">
    <thead>
        <tr>
            <th>Class</th>
            <th>Role</th>
            <th>Multiplicity</th>
            <th>Relation Name</th>
            <th>Relation Type</th>
            <th>Multiplicity</th>
            <th>Role</th>
            <th>Class</th>

        </tr>
    </thead>
    <tbody id="tbodyAssociation">
    </tbody>
</table>



<p style="margin-top: 30px; margin-bottom: 10px;">
    <button type="button" id='btnClassDiagram'>
        <img src="{% static 'isad/images/new/icons/preferences_desktop_color_24x24.png' %}"
             class="button-image buttonAddImage" alt="Draw diagram" title="Draw diagram">
        <span class="button-image button-text"><strong>Draw</strong></span>
    </button>
</p>

<div style="margin-bottom: 5px; width: auto;" class="silver-dotted-1px-pad-10 uml-diagram-container">
    <img src="{% static 'isad/images/ajax/8_8_transparent.png' %}" class="uml-diagram" alt="Class Diagram"
         class="center-align center-align-image">
</div>
<p>&nbsp;</p>

</form>


<script type='text/javascript' src="{% static 'isad/js/jquery.min.js' %}"></script>
<script type='text/javascript' src="{% static 'isad/js/jquery-ui.min.js' %}"></script>
<script type="text/javascript">

    $(document).ready(function() {

        $('a.removeClasses').live('click', function(event) {
            event.preventDefault();
            var txt = $(this).parent().text();
            //alert(txt);
            $("#selectClassForAttribute option").each(function(index){
                if (txt == $(this).text())
                {	$(this).remove();
                }
            });
            $("#selectClassForOperation option").each(function(index){
                if (txt == $(this).text())
                {	$(this).remove();
                }
            });
            $("#selectSuperClass option").each(function(index){
                if (txt == $(this).text())
                {	$(this).remove();
                }
            });
            $("#selectSubClass option").each(function(index){
                if (txt == $(this).text())
                {	$(this).remove();
                }
            });
            $("#selectClass1ForAssociation option").each(function(index){
                if (txt == $(this).text())
                {	$(this).remove();
                }
            });
            $("#selectClass2ForAssociation option").each(function(index){
                if (txt == $(this).text())
                {	$(this).remove();
                }
            });
            $('#tbodyAssociation tr td:nth-child(1)').each(function(index) {
				
                if (txt == $(this).text())
                {	
						
                    $(this).parent().remove();}
            });
            $('#tbodyAssociation tr td:nth-child(8)').each(function(index) {
				
                if (txt == $(this).text())
                {	
						
                    $(this).parent().remove();}
            });
		
            $('.tbodyInheritance tr td:nth-child(2) ul li').each(function(index) {
                if (txt == $(this).text())
                {
                    var tmp = $(this).parent().attr('id');
                    //alert(tmp);
                    if ($('#' + tmp + ' li').size() == 1){
                        $(this).parent().parent().parent().remove();
                    }else
                    {$(this).remove();
                    }
						
                }
            });

            //$("#selectClassForAttribute option:eq('" + txt + "')").html('');
		
            //$("#selectClassForAttribute option:eq('" + txt + "')").remove();
            //alert();
            //$('#category' + $(this).parent().text()).remove();
            //$('#attribute' + $(this).parent().text()).remove();
            //$('#selectObj' + $(this).parent().text().replace(/ /g, '_')).remove();
            //$('#objInObjectPropertyTable' + $(this).parent().text().replace(/ /g, '_')).parent().remove();
            $(this).parent().parent().remove();
            return false;
        });
        $('a.removeAttribute').live('click', function(event) {
            event.preventDefault();
            $(this).parent().remove();
            return false;
        });
        $('a.removeOperation').live('click', function(event) {
            event.preventDefault();
            $(this).parent().remove();
            return false;
        });
        $('a.removeSubClasses').live('click', function(event) {
            event.preventDefault();
            //alert();
            //$('#category' + $(this).parent().text()).remove();
            //$('#attribute' + $(this).parent().text()).remove();
            //$('#selectObj' + $(this).parent().text().replace(/ /g, '_')).remove();
            //$('#objInObjectPropertyTable' + $(this).parent().text().replace(/ /g, '_')).parent().remove();
            $(this).parent().parent().remove();
            return false;
        });
        $('a.removeSuperClasses').live('click', function(event) {
            event.preventDefault();
            var tmp = $(this).parent().parent().attr('id');
            //alert(tmp);
            if ($('#' + tmp + ' li').size() == 1)
            {$(this).parent().parent().parent().parent().remove();
            }else{
		
                $(this).parent().remove();
            }
            return false;
        });
        $('a.removeRelation').live('click', function(event) {
            event.preventDefault();
            //alert();
            //$('#category' + $(this).parent().text()).remove();
            //$('#attribute' + $(this).parent().text()).remove();
            //$('#selectObj' + $(this).parent().text().replace(/ /g, '_')).remove();
            //$('#objInObjectPropertyTable' + $(this).parent().text().replace(/ /g, '_')).parent().remove();
            $(this).parent().parent().remove();
            return false;
        });
        //Taking nouns from problem statement as Potential Objects 
        $('#btnAddClass').click(function() {
         
            var textClass = $('#textClass').val();
            textClass = jQuery.trim(textClass);
            if (textClass == '')
            {
                alert('Write class name in adjacent textbox of Table #1');
            }
            else if (!textClass.match(/^[a-zA-Z]+$/) ) 

            {
                alert("Write Class name again, you are allowed to use alphabates only");
            }
            else
            {
		 
			

                //checking the class to be inserted is already inserted or not
                var alreadyExistClass = 0;
                $('.tbodyClassInformation tr td:nth-child(1)').each(function(index) {
                    var temp = $(this).text();
                    if (textClass.toLowerCase() == temp.toLowerCase())
                    {
                        alreadyExistClass = 1;
                    }
                });
		 
                //Insert new classes here  
                if (alreadyExistClass == 0)
                {

                    $('#selectClassForAttribute').append($("<option>" + textClass + "</option>"));
                    //$('#selectClassForAttribute').parent().effect("highlight", {color: errorColor}, 2500);
                    $('#selectClassForOperation').append($("<option>" + textClass + "</option>"));
                    $('#selectSuperClass').append($("<option>" + textClass + "</option>"));
                    $('#selectSubClass').append($("<option>" + textClass + "</option>"));
                    $('#selectClass1ForAssociation').append($("<option>" + textClass + "</option>"));
                    $('#selectClass2ForAssociation').append($("<option>" + textClass + "</option>"));
                    $(".tbodyClassInformation").append($("<tr><td>" + textClass + "<a class='removeClasses' href='#'><img src='{% static 'isad/images/remove16x16.png' %}' width='16' height='16' border='0' /></a></td><td><ul id='attributeOf" + textClass + "'></ul></td><td><ul id='operationOf" + textClass + "'></ul></td></tr>"));
                    $('html, body').animate({scrollTop: $('.tbodyClassInformation').offset().top}, 'fast');
                    //$('.tbodyClassInformation').effect("highlight", {color: errorColor}, 2500);
                }

                //Give proper message for already inserted Nouns 
                else
                {
                    alert("You have already enter that Class");
                }

			 
            }

            $('#textClass').val('');
		       
        });
        $('#btnAddAttribute').click(function() {
         
            var textClassId = $("#selectClassForAttribute option:selected").val();
            var con = $('#selectClassForAttribute option').size();
            //alert(con);
            var textAttribute = $('#textAttribute').val();
            var textType = $('#typeOfAttribute option:selected').val();
            textAttribute = jQuery.trim(textAttribute);
            if (con == 0)
            {
                alert("Add classes first");
            }
            else
            {
		
                if (textAttribute == '')
                {
                    alert('Write attribute name in the textbox of Table #2');
                }		
                else if (!textAttribute.match(/^[a-zA-Z]+$/) ) 

                {
                    alert("Write Attribute name again , you are allowed to use  alphabets only");
                }
                else
                {
		 
			

                    //checking the noun to be inserted is already inserted or not
                    var alreadyExistAttribute = 0;
                    $('#attributeOf' + textClassId + ' li').each(function(index) {
                        var temp = $(this).text();//alert(temp);
                        var temp1 = temp.substr(temp.indexOf("  ") + 2);
                        //alert(temp1);

                        if (textAttribute.toLowerCase() == temp1.toLowerCase())
                        {
                            alreadyExistAttribute = 1;
                        }
                    });
		 
                    //Insert new Nouns here  
                    if (alreadyExistAttribute == 0)
                    {
					
                        //$('#attributeOf' + textClassId).append($("<li>" + textAttribute + "<a class='removeAttribute' href='#'><img src='removepic.png' width='16' height='16' border='0' /></li>"));
                        $('#attributeOf' + textClassId).append($("<li><a>" + textType + '  ' + "</a>" + textAttribute + "<a class='removeAttribute' href='#'><img src='{% static 'isad/images/remove16x16.png' %}' width='16' height='16' border='0' /></li>"));
                        //effect
                        $('html, body').animate({scrollTop: $('.tbodyClassInformation').offset().top}, 'fast');
                        /*$('#selectClassForAttribute').append($("<option>" + textClass + "</option>"));
                                        $('#selectClassForOperation').append($("<option>" + textClass + "</option>"));
                                        $('#selectSuperClass').append($("<option>" + textClass + "</option>"));
                                        $('#selectSubClass').append($("<option>" + textClass + "</option>"));
                                        $('#selectClass1ForAssociation').append($("<option>" + textClass + "</option>"));
		
                                        $('#selectClass2ForAssociation').append($("<option>" + textClass + "</option>"));
                                        $(".tbodyClassInformation").append($("<tr><td>" + textClass + "<a class='removeClasses' href='#'><img src='removepic.png' width='16' height='16' border='0' /></a></td><td><ul id='attributeOf" + textClass + "'></ul></td><td><ul id='operationOf" + textClass + "'></ul></td></tr>"));*/
                    }

                    //Give proper message for already inserted Nouns 
                    else
                    {
                        alert("You have already added that attribute under the Class");
                    }

			 
                }
            }

            $('#textAttribute').val('');
		       
        });



        $('#btnAddOperation').click(function() {
         
            var textClassId = $("#selectClassForOperation option:selected").val();
            var coun = $('#selectClassForOperation option').size();
            var textOperation = $('#textOperation').val();
            var returnType = $('#returnTypeOfOperation option:selected').val();
            textOperation = jQuery.trim(textOperation);
			
            if (coun == 0)
            {
                alert("Add classes first");
            }
            else
            {	
			
                if (textOperation == '')
                {
                    alert('Write function name in the textbox of Table #3');
                }
                else if (!textOperation.match(/^[a-zA-Z]+$/) ) 

                {
                    alert("Write function name again , you are allowed to use  alphabates only");
                }
                else
                {
		 
			
                    //checking the noun to be inserted is already inserted or not
                    var alreadyExistOperation = 0;
                    $('#operationOf' + textClassId + ' li').each(function(index) {
                        var temp = $(this).text();
                        temp = temp.substr(temp.indexOf(" ") + 1);
                        //alert(temp);
                        if (textOperation.toLowerCase() == temp.toLowerCase())
                        {
                            alreadyExistOperation = 1;
                        }
                    });

                    //alreadyExistOperation = 0; //Allow all the operations for the timebeing 
		 
                    //Insert new Operations here  
                    if (alreadyExistOperation == 0)
                    {
                        returnType = returnType + ' ';
                        $('#operationOf' + textClassId).append($("<li>" + returnType + textOperation + "<a class='removeOperation' href='#'><img src='{% static 'isad/images/remove16x16.png' %}' width='16' height='16' border='0' /></li>"));
                        //effect
                        $('html, body').animate({scrollTop: $('.tbodyClassInformation').offset().top}, 'fast');

                        /*$('#selectClassForAttribute').append($("<option>" + textClass + "</option>"));
                                        $('#selectClassForOperation').append($("<option>" + textClass + "</option>"));
                                        $('#selectSuperClass').append($("<option>" + textClass + "</option>"));
                                        $('#selectSubClass').append($("<option>" + textClass + "</option>"));
                                        $('#selectClass1ForAssociation').append($("<option>" + textClass + "</option>"));
                                        $('#selectClass2ForAssociation').append($("<option>" + textClass + "</option>"));
                                        $(".tbodyClassInformation").append($("<tr><td>" + textClass + "<a class='removeClasses' href='#'><img src='removepic.png' width='16' height='16' border='0' /></a></td><td><ul id='attributeOf" + textClass + "'></ul></td><td><ul id='operationOf" + textClass + "'></ul></td></tr>"));*/
                    }

                    //Give proper message for already inserted operations 
                    else
                    {
                        alert("You have already added that function under the Class");
                    }

			 
                }

            }

            $('#textOperation').val('');
		       
        });

        $('#btnAddInheritance').click(function() {
		
            var textSubClass = $("#selectSubClass option:selected").val();
            var textSuperClass = $("#selectSuperClass option:selected").val();
            var consub = $('#selectSubClass option').size();
            if (consub == 0 )
            {
                alert("Add classes first");
            }
            else
            {
                if (textSubClass == textSuperClass)
                {
                    alert("A class can not be inherit itself!");
                }
                else
                {
                    var alreadyExist = 0;
                    $('.tbodyInheritance tr td:nth-child(1)').each(function(index) {
                        var temp = $(this).text();//alert(temp);
                        if (textSubClass.toLowerCase() == temp.toLowerCase())
                        {
                            alreadyExist = 1;
                        }
                    });
                    if (alreadyExist == 0)
                    {
                        $('.tbodyInheritance').append($("<tr><td>" + textSubClass + "<a class='removeSubClasses' href='#'><img src='{% static 'isad/images/remove16x16.png' %}' width='16' height='16' border='0' /></a></td><td><ul id='superClassOf" + textSubClass + "'></ul></td></tr>"));
                    }
                    var alreadyInherited = 0;
                    $('#superClassOf' + textSubClass + ' li').each(function(index) {
                        var temp = $(this).text();//alert(temp);
                        if (textSuperClass.toLowerCase() == temp.toLowerCase())
                        {
                            alreadyInherited = 1;
                        }
                    });
                    if (alreadyInherited == 0)
                    {
                        $('#superClassOf' + textSubClass).append($("<li>" + textSuperClass + "<a class='removeSuperClasses' href='#'><img src='{% static 'isad/images/remove16x16.png' %}' width='16' height='16' border='0' /></li>"));
                        //effect
                        $('html, body').animate({scrollTop: $('.tbodyInheritance').offset().top}, 'fast');
                    }
                    else
                    {
                        alert("You have already consider this Inheritance");
                    }
                }
            }
        });

        $('#btnAddAssociation').click(function() {

            var textClass1 = $("#selectClass1ForAssociation option:selected").val();
            var textRoleFirst = $('#textRole1').val();
            var textMulFirst = $("#selectMultiplicityForClass1 option:selected").val();
            var textAssociationName = $('#textAssociationName').val();

            var selectAssociationType = $("#selectAssociationType option:selected").val();
            var selectMultiplicityForClass2 = $("#selectMultiplicityForClass2 option:selected").val();
            var textRole2 = $('#textRole2').val();
            var selectClass2ForAssociation = $("#selectClass2ForAssociation option:selected").val();

            var countsub = $('#selectSubClass option').size();
            if (countsub == 0 )
            {
                alert("Add classes first");
            }
            else {


                $('#tbodyAssociation').append($("<tr><td>" + textClass1 + "<a class='removeRelation' href='#'><img src='{% static 'isad/images/remove16x16.png' %}' width='16' height='16' border='0' /></a></td><td>" + textRoleFirst + "</td><td>" + textMulFirst + "</td><td>" + textAssociationName + "</td><td>" + selectAssociationType + "</td><td>" + selectMultiplicityForClass2 + "</td><td>" + textRole2 + "</td><td>" + selectClass2ForAssociation + "</td></tr>"));
		
                $('html, body').animate({scrollTop: $('#tbodyAssociation').offset().top}, 'fast');
            }

            $('#textRole1').val('');
            $('#textAssociationName').val('');
            $('#textRole2').val('');

        });


        $('#btnClassDiagram').click(function() {

            var initGlobal = '\n /** \n * @opt operations \n* @opt attributes \n* @opt types \n* @hidden \n*/\n class UMLOptions {} \n';
            //alert(initGlobal);
            var init_header_class = '/**  \n';
            var init_remainder_class = ' */ \n';
            var init_each_class_header = ' * @';
            var each_class_header = '';
            var totalClass = '';
            var classList = [];

		
            // New formation of classList
            $('.tbodyClassInformation tr td:nth-child(1)').each(function(index) {
                var tempClass = $(this).text();
                var existClass = 0;
                $(classList).each(function(index1) {
                    if (classList[index1] == tempClass)
                    {
                        existClass = 1;
                    }
                });
                if (existClass == 0)
                {
                    classList[classList.length] = tempClass;
                }
							
            });

            // Old formation of classList
            /*
                $('#tbodyAssociation tr td:nth-child(1)').each(function(index) {
                                                        var tempClass = $(this).text();
                                                        var existClass = 0;
                                                        $(classList).each(function(index1) {
                                                                if (classList[index1] == tempClass)
                                                                {
                                                                        existClass = 1;
                                                                }
                                                        });
                                                        if (existClass == 0)
                                                        {
                                                                classList[classList.length] = tempClass;
                                                        }
							
                });
             */
            $(classList).each(function(index) {
                //alert(classList[index]);
                var tmp1 = classList[index];
                each_class_header = '';
                //alert();
                $('#tbodyAssociation tr td:nth-child(1)').each(function(index1) {
                    //var tmp2 = $('td:nth-child(1)').val();
                    var tmp2 = $(this).text();
                    //alert(tmp2);
										
                    if (tmp1 == tmp2)
                    {


                        /* Forming HEADER  in 'each_class_header'
										
                         * @composed 1 - 4 Tyre
                         * @composed 1 - 1 Engine
                         * @composed 1 - 1 Body     */

                        //var temp = $(this).parent();//:nth-child(8).val();
                        var rowIndex = parseInt(index1, 10) + 1;
                        each_class_header = each_class_header + '* @';
                        //alert(rowIndex);
                        var role_1 = $('#tbodyAssociation tr:nth-child(' + rowIndex + ') td:nth-child(2)').text();
                        role_1 = jQuery.trim(role_1);
                        var mul_1 = $('#tbodyAssociation tr:nth-child(' + rowIndex + ') td:nth-child(3)').text();
                        var role_2 = $('#tbodyAssociation tr:nth-child(' + rowIndex + ') td:nth-child(7)').text();
                        role_2 = jQuery.trim(role_2);
                        var mul_2 = $('#tbodyAssociation tr:nth-child(' + rowIndex + ') td:nth-child(6)').text();
                        var relationName = $('#tbodyAssociation tr:nth-child(' + rowIndex + ') td:nth-child(4)').text();
                        relationName = jQuery.trim(relationName);
                        if (relationName == '')
                        {
                            relationName = '-';
                            //alert(relationName);
                        }
                        if (mul_1 == 'Not specified')
                        {
                            mul_1 = '';
                        }
                        if (mul_2 == 'Not specified')
                        {
                            mul_2 = '';
                        }
                        //alert(role_1);
                        //alert(mul_1);
                        //alert(relationName);
                        //alert(mul_2);
                        //alert(role_2);
                        var content = $('#tbodyAssociation tr:nth-child(' + rowIndex + ') td:nth-child(5)').text();
                        content = jQuery.trim(content);
                        //alert(content);
                        if (content == "Composition")
                        {
                            each_class_header = each_class_header + 'composed';
                            //alert('composed');
                            //each_class_header = each_class_header + 'composed "' + mul_1 + ' ' + role_1 + '" ' + relationName + ' "' + mul_2 + ' ' + role_2 + '" ';

                        }
                        /* new 23.05.11	*/
                        if (content == 'Aggregation')
                        {
                            //each_class_header = each_class_header + 'has - - - ';
                            each_class_header = each_class_header + 'has';
                        }
                        if (content == 'Simple association')
                        {
                            each_class_header = each_class_header + 'assoc';
                            //alert('assoc');
                        }
                        if (content == 'Navigation association')
                        {
                            each_class_header = each_class_header + 'navassoc';
                        }
                        if (content == 'Dependency')
                        {
                            each_class_header = each_class_header + 'depend';
                        }
                        each_class_header = each_class_header + ' "' + mul_1 + ' ' + role_1 + '" ' + relationName + ' "' + mul_2 + ' ' + role_2 + '" ';
                        /* new 23.05.11	*/
                        var class2 = $('#tbodyAssociation tr:nth-child(' + rowIndex + ') td:nth-child(8)').text();
                        //alert(class2);
                        each_class_header = each_class_header + class2 + ' \n';
                    }

								
                });
                //INHERITANCE

                $('.tbodyInheritance tr td:nth-child(1)').each(function(index2) {
                    var tmp3 = $(this).text();
                    //alert(tmp3);
										
                    if (tmp1 == tmp3)
                    {
                        $('#superClassOf' + tmp3 + ' li').each(function(index3) {

                            var superClassTemp = $(this).text();
                            each_class_header = each_class_header + '* @extends ' + superClassTemp + ' \n';
                        });

                    }

                });//INHERITANCE

                totalClass = totalClass + init_header_class + each_class_header + init_remainder_class + ' class ' + tmp1 + ' { \n';

                //CLASS DEFINE  (Till not append with main code)
                var attributeList = '';//This variable contain both the attributes and operations of class tmp1
                $('#attributeOf' + tmp1 + ' li').each(function(index3) {
                    attributeList = attributeList + $(this).text() + '; \n ' ;
                    //alert(attributeList);
                });
                $('#operationOf' + tmp1 + ' li').each(function(index3) {
                    attributeList = attributeList + $(this).text() + '() {} \n ' ;
                    //alert(attributeList);
                });

                //CLASS DEFINE

                totalClass = totalClass + ' ' + attributeList + ' \n } ';

            });
            totalClass = initGlobal + totalClass;
            //alert(totalClass);
            //$('#p1').append(totalClass);
            //alert($('#p1').text());
            
            $.ajax({
                type:       'POST',
                url:         '/cse08/isad/isad/class_diagram/',
                data:       { 'diagram':  totalClass, 'size': 150 },
                cache:      false,
                success:    function(mesg, txtStatus, XmlHttpRequest) {
                    var result = $.parseJSON(mesg);
                    if (result['error']) {
                        alert('An error was encountered: ' + result['error']);
                        $('img.uml-diagram').attr('src', "{% static 'isad/images/ajax/8_8_transparent.png' %}");                                
                    }
                    else {
                        //alert(result['diagram_url']);
                        var timestamp = new Date().getTime();
                        $('img.uml-diagram').attr('src', result['diagram_url']+'?ts='+timestamp);
                    }
                    $('#umlgraph_output').text(result['output']);
                },
                error:      function(XmlHttpRequet, txtStatus, errorThrown) {
                    alert('Failed to draw the UML diagram!!!\n' + errorThrown);
                    $('img.uml-diagram').attr('src', "{% static 'isad/images/ajax/8_8_transparent.png' %}");
                },
                dataType:   'html'
            });

        });

    });
</script>
