{% load staticfiles %}
<link href="{% static 'isad/css/isad_workspace.css' %}" rel="stylesheet" type="text/css">

<form>
    <h3 class="table-title-blue">Table #1: Add a class</h3> 
    <table class="techno exercises" cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th>Class name</th>
                <th>Add</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <input type="text" name="textClass" id="textClass"/>
                </td>
                <td>                    
                    <button type="button" value="Add" id='btnAddClass'>
                        <img src="{% static 'isad/images/new/icons/add_16x16.png' %}" class="buttonAddImage" />
                        <span class="buttonText">Add</span>
                    </button> 
                </td>
            </tr>
        </tbody>
    </table>


    <h3 class="table-title-blue">Table #2: Add attributes to classes</h3>
    <table class="techno" cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th>Select class</th>
                <th>Attribute</th>
                <th>Type</th>
                <th>Add</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <select id='selectClassForAttribute'>
                    </select>
                </td>
                <td>
                    <input type="text" name="textAttribute" id="textAttribute"/>
                </td>
                <td>
                    <select id='typeOfAttribute'>
                        <option>Integer</option>
                        <option>Float</option>
                        <option>String</option>
                        <option>Long</option>
                        <option>Double</option>
                        <option>Boolean</option>
                    </select>
                </td>
                <td>
                    <button type="button" value="Add" id='btnAddAttribute'>
                        <img src="{% static 'isad/images/new/icons/add_16x16.png' %}" class="buttonAddImage" />
                        <span class="buttonText">Add</span>
                    </button> 
                </td>
            </tr>
        </tbody>
    </table>


    <h3 class="table-title-blue">Table #3: Add operations to classes</h3>
    <table class="techno" cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th>Select class</th>
                <th>Operation</th>
                <th>Return Type</th>
                <th>Add</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <select id='selectClassForOperation'>
                    </select>
                </td>
                <td>
                    <input type="text" name="textOperation" id="textOperation"/>
                </td>
                <td>
                    <select id='returnTypeOfOperation'>
                        <option>void</option>
                        <option>Integer</option>
                        <option>Float</option>
                        <option>String</option>
                        <option>Long</option>
                        <option>Double</option>
                        <option>Boolean</option>
                    </select>
                </td>
                <td>                    
                    <button type="button" value="Add" id='btnAddOperation'>
                        <img src="{% static 'isad/images/new/icons/add_16x16.png' %}" class="buttonAddImage" />
                        <span class="buttonText">Add</span>
                    </button> 
                </td>
            </tr>
        </tbody>
    </table>  


    <h3 class="table-title-blue">Table #4: Add generalization/specialization relationships</h3>
    <table class="techno" cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th>Select sub-class</th>
                <th>Inheritance</th>
                <th>Select super-class</th>
                <th>Add</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <select id="selectSubClass" name="selectSubClass">
                    </select>
                </td>
                <td>
                    Extends
                </td>
                <td>
                    <select id="selectSuperClass" name="selectSuperClass">
                    </select>
                </td>
                <td>
                    <button type="button" value="Add" id='btnAddInheritance'>
                        <img src="{% static 'isad/images/new/icons/add_16x16.png' %}" class="buttonAddImage" />
                        <span class="buttonText">Add</span>
                    </button> 
                </td>
            </tr>
        </tbody>
    </table>


    <h3 class="table-title-blue">Table #5: Add association relationships</h3>

    <div style="overflow: scroll; width: 100%;">
        <table class="techno" cellpadding="0" cellspacing="0" id="addAssociation" 
               style="width: 100%; margin-right: 10px; margin-left: 0;">
            <thead>
                <tr>
                    <th>Select class</th>
                    <th>Multiplicity<br>(optional)</th>
                    <th>Association name<br>(optional)</th>
                    <th>Association type</th>
                    <th>Multiplicity<br>(optional)</th>
                    <th>Association direction<br>(optional)</th>
                    <th>Select class</th>
                    <th>Add</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <select id='selectClass1ForAssociation'></select>
                    </td>
                    <td>
                        <select id='selectMultiplicityForClass1'>
                            <option>Not specified</option>
                            <option>1</option>
                            <option>2</option>
                            <option>0..1</option>
                            <option>0..*</option>
                            <option>1..*</option>
                            <option>*</option>
                        </select>
                    </td>
                    <td>
                        <input type="text" name="textAssociationName" id="textAssociationName" style="width: 100px;" />
                    </td>
                    <td><select name="selectAssociationType" id="selectAssociationType">
                            <option>Simple association</option>
                            <option>Navigation association (to)</option>
                            <option>Aggregation (of)</option>
                            <option>Composition (of)</option>
                            <option>Dependency (on)</option>
                        </select>
                    </td>
                    <td>
                        <select id='selectMultiplicityForClass2'>
                            <option>Not specified</option>
                            <option>1</option>
                            <option>2</option>
                            <option>0..1</option>
                            <option>0..*</option>
                            <option>1..*</option>
                            <option>*</option>
                        </select>
                    </td>
                    <td>
                        <select id='direction'>
                            <option>Not specified</option>
                            <option>TO</option>
                            <option>FROM</option>
                        </select>
                    </td>
                    <td>
                        <select id='selectClass2ForAssociation'></select>
                    </td>
                    <td>                    
                        <button type="button" value="Add" id='btnAddAssociation'>
                            <img src="{% static 'isad/images/new/icons/add_16x16.png' %}" class="buttonAddImage" />
                            <span class="buttonText">Add</span>
                        </button> 
                    </td>
                </tr>
            </tbody>
        </table>
        
        <strong>Tip</strong>:<em>To display a direction, you should name the relationship as well.</em>
    </div>

    <p>&nbsp;</p>

    <h3 class="table-title-blue">Table #6: Classes identified for solution</h3>
    <table class="techno" cellpadding="0" cellspacing="0" id="tableClassInformation">
        <thead>
            <tr>
                <th>Class</th>
                <th>Attributes</th>
                <th>Operations</th>
            </tr>
        </thead>
        <tbody class="tbodyClassInformation">
           

        </tbody>
    </table>
    <h3 class="table-title-blue">Table #7: Generalization identified for solution</h3>
    <table class="techno" cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th>Subclass</th>
                <th>Superclass</th>
            </tr>
        </thead>
        <tbody class="tbodyInheritance">
        </tbody>

    </table>


    <h3 class="table-title-blue">Table #8: Relations between classes identified for solution</h3>
    <table class="techno" cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th>Class</th>
                <th>Multiplicity</th>
                <th>Relation Name</th>
                <th>Relation Type</th>
                <th>Multiplicity</th>
                <th>Class</th>
                <th>Direction</th>
            </tr>
        </thead>
        <tbody id="tbodyAssociation">
        </tbody>
    </table>


    <p style="margin-top: 30px; margin-bottom: 10px;">
        <button type="button" id='btnClassDiagram'>
            <img src="{% static 'isad/images/new/icons/preferences_desktop_color_24x24.png' %}"
                 class="button-image buttonAddImage" alt="Draw diagram" title="Draw diagram">
            <span class="button-image button-text"><strong>Draw</strong></span>
        </button>
    </p>

    <div style="margin-bottom: 5px; width: auto;" class="silver-dotted-1px-pad-10 uml-diagram-container">
        <img src="{% static 'isad/images/ajax/8_8_transparent.png' %}" class="uml-diagram" alt="Class Diagram"
             class="center-align center-align-image">
    </div>
    <p>&nbsp;</p>

</form>


<script type='text/javascript' src="{% static 'isad/js/jquery.min.js' %}"></script>
<script type='text/javascript' src="{% static 'isad/js/jquery-ui.min.js' %}"></script>

<script type="text/javascript" src="{% static 'isad/js/exercises/class_dia.js' %}"></script>
