<!-- Exercise #7 -->
{% load staticfiles %}
<style type="text/css">
    ul.tab-headers li a {
        font-weight: bold;
    }
</style>

<link href="{% static 'isad/lib/liteTabs/litetabs.css' %}" rel="stylesheet">


<div class="drawing-area" style="width: 100%; overflow: scroll;">
    <ul class="tab-headers">
        <li style="margin-left: 0; padding-right: 0;" id="class-dia"><a href="#class">Class Diagram</a></li>
        <li style="margin-left: 0; padding-right: 0;"><a href="#sequence" id="sequence-dia">Sequence Diagram</a></li>
    </ul>

    <div name="#class" id="w-class" style="width: auto; overflow: scroll;">
    </div>

    <div name="#sequence" id="w-sequence" style="width: 100%;">
    </div>
</div>

<!--div id="workspace-container" style="border: 1px solid red; position: relative; width: 100%; left: auto;">
</div-->

<!--script type='text/javascript' src='{% static 'isad/js/jquery.min.js'></script-->
<script type='text/javascript' src="{% static 'isad/js/jquery-ui.min.js' %}"></script>
<script type='text/javascript' src="{% static 'isad/lib/jquery.editable-1.3.3.min.js' %}"></script>
<script type="text/javascript" src="{% static 'isad/js/common.js' %}"></script>
<script type="text/javascript" src="{% static 'isad/lib/liteTabs/litetabs.jquery.js' %}"></script>

<script type="text/javascript">
    $(document).ready(function() {
        $('.drawing-area').liteTabs({ boxed: true });
        $('.drawing-area').css( {'width': '100%', 'height': 'auto'} );

        multiple_workspaces('/cse08/isad/isad/uml/class-dia/', 'div#w-class');
        multiple_workspaces('/cse08/isad/isad/uml/sequence-dia/', 'div#w-sequence');

        $('div#w-class').show();
        $('div#w-sequence').hide();

        $('#class-dia').click(function(e) {
            e.preventDefault();
            $('div#w-class').show();
            $('div#w-sequence').hide();
        });
        $('#sequence-dia').click(function(e) {
            e.preventDefault();
            $('div#w-sequence').show();
            $('div#w-class').hide();
        });
    });
</script>