{% load staticfiles %}
<link href="{% static 'isad/css/isad_workspace.css' %}" rel="stylesheet" type="text/css">

<form method=" " action=" " id=" ">

<!-- Design area -->
 
<h3 class="table-title-blue">Table #1: Add external entity</h3> 

<table class="techno" cellpadding="0" cellspacing="0" id="tableExternalEntity">
      <thead>
          <tr>
              <th>External Entity (EE)</th>			  
			  <th>Add</th>
		  </tr>
      </thead>
      <tbody class="tbodyExternalEntity">         
          <tr>
			<td><input type="text" name="textEE" id="textExternalEntity"/></td>
			<td><button type="button" value="Add" id="btnExternalEntityAdd">
					<img class="button-image buttonAddImage" alt="" src="{% static 'isad/images/new/icons/add_16x16.png' %}">
					<span class="button-text">Add</span>
				</button>
			</td>			  
		  </tr>
      </tbody>
</table>


<h3 class="table-title-blue">Table #2: Add process</h3> 

<table class="techno" cellpadding="0" cellspacing="0" id="tableProcess">
      <thead>
          <tr>
              <th>Process (P)</th>
			  <th>Level</th>
			  <th>Add</th>					  
		  </tr>
      </thead>
      <tbody class="tbodyProcess">                 
           <tr>
				<td><input type="text" name="textP" id="textProcess"/></td>
				<td><input type="text" name="textPL" id="textProcessLevel"/></td>				
				<td>
				    <button type="button" value="Add" id="btnProcessAdd">
						<img class="button-image buttonAddImage" alt="" src="{% static 'isad/images/new/icons/add_16x16.png' %}">
						<span class="button-text">Add</span>
					</button>
				</td>			  
			  </tr>
      </tbody>
</table>


<h3 class="table-title-blue">Table #3: Add data store</h3> 

<table class="techno" cellpadding="0" cellspacing="0" id="tableDataStore">
      <thead>
          <tr>
              <th>Data Store (DS)</th>
			  <th>Add</th>					  
		  </tr>
      </thead>
      <tbody class="tbodyDataStore">         
           <tr>
				<td><input type="text" name="textDS" id="textDataStore"/></td>				
				<td>
				    <button type="button" value="Add" id="btnDataStoreAdd">
						<img class="button-image buttonAddImage" alt="" src="{% static 'isad/images/new/icons/add_16x16.png' %}">
						<span class="button-text">Add</span>
					</button>
				</td>			  
			  </tr>
      </tbody>
</table>


 
<!-- Start Add DEC 2012 -->
<h3 class="table-title-blue">Table #4: Add data flows</h3> 

<table class="techno" cellpadding="0" cellspacing="0" id="tableDataFlow">
      <thead>
          <tr>
              <th>Type (P/DS/EE)</th>
			  <th>From</th>
			  <th>Data Label</th>
			  <th>Type (P/DS/EE)</th>
			  <th>To</th>
			  <th>Add</th>					  
		  </tr>
      </thead>
      <tbody class="tbodyDataFlow">                 
           <tr>
				<td>
				    <select id='selectFromType'>
					    <option selected="selected" value="Select">Select</option>
					    <option value="ee">External entity</option>
					    <option value="process">Process</option>
					    <option value="ds">Data store</option>							
				    </select>
			    </td>
				<td><select id='selectFrom'></select></td>
				<td><input type="text" name="textDN" id="textDataName"/></td>
				<td>
				    <select id='selectToType'>
					    <option selected="selected" value="Select">Select</option>
					    <option value="ee">External entity</option>
					    <option value="process">Process</option>
					    <option value="ds">Data store</option>					
				    </select>
			    </td>
				<td><select id='selectTo'></select></td>
				<td><button type="button" value="Add" id="btnDataFlowAdd">
						<img class="button-image buttonAddImage" alt="" src="{% static 'isad/images/new/icons/add_16x16.png' %}">
						<span class="button-text">Add</span>
					</button>
				</td>					  
			  </tr>
      </tbody>
</table>
<!-- End Add DEC 2012 -->


<p class="table-title-blue" style="margin-top: 10px;"><em>Summary of the list of inputs taken</em></p>


<h3 class="table-title-blue">Table #5: List of external entities, data stores, and processes</h3> 

<table class="techno" cellpadding="0" cellspacing="0" id="table7">
      <thead>
          <tr>
              <th>External Entity</th>
			  <th>Data Store</th>
			  <th>Process</th>
		  </tr>
      </thead>
      <tbody class="tbody7">         
           <tr>
				<td><ul id='listEE'></td>
				<td><ul id='listDS'></td>
				<td><ul id='listP'></td>			  
		  </tr>
      </tbody>
</table>


<h3 class="table-title-blue">Table #6: List of data flows</h3>

<table class="techno" cellpadding="0" cellspacing="0" id="table82">
      <thead>
          <tr>
              <th>From</th>
			  <th>Data Label</th>
			  <th>To</th>
			  <th>Remove</th>					  
		  </tr>
      </thead>
      <tbody class="tbody82">
      </tbody>
</table>


<p>
    <input type="button" value="Draw" id="btnDFD"/>
</p>

<div style="margin-bottom: 5px; " class="silver-dotted-1px-pad-10" id="uml-diagram-container">
    <img src="{% static 'isad/images/ajax/8_8_transparent.png' %}" id="dfd_draw" alt="Data Flow Diagram"
         class="center-align center-align-image " />
</div>

<!-- Design area -->
</form>



<script type='text/javascript' src="{% static 'isad/js/jquery.min.js' %}"></script>
<script type='text/javascript' src="{% static 'isad/js/jquery-ui.min.js' %}"></script>

<script type="text/javascript">

$(document).ready(function(){

    var errorColor = '#FF6666';
    var okColor = '#A9F5A9';
        
    function addLevelFigure(LNo, FNo)
	{
		$('.tbody6').append($("<tr><td>" + LNo + "</td><td>" + FNo + "</td><td><a class='removeLandF' href='#'><img src='{% static 'isad/images/new/icons/remove16x16.png' %}' width='16' height='16' border='0' /></a></td></tr>"));
	}
	function addEdgeType1(tD, tP)
	{
		$('.tbody81').append($("<tr><td>" + tD + "</td><td>" + tP + "</td><td><a class='removeEdgeType1' href='#'><img src='{% static 'isad/images/new/icons/remove16x16.png' %}' width='16' height='16' border='0' /></a></td></tr>"));
	}
	function addEdgeType3(tD, tP)
	{
		$('.tbody83').append($("<tr><td>" + tP + "</td><td>" + tD + "</td><td><a class='removeEdgeType3' href='#'><img src='{% static 'isad/images/new/icons/remove16x16.png' %}' width='16' height='16' border='0' /></a></td></tr>"));
	}
	function addEdgeType2(tL, tD, tR)
	{
		$('.tbody82').append($("<tr><td>" + tL + "</td><td>" + tD + "</td><td>" + tR + "</td><td><a class='removeEdgeType2' href='#'><img src='{% static 'isad/images/new/icons/remove16x16.png' %}' width='16' height='16' border='0' /></a></td></tr>"));
	}
	/*
	
*/

// Logic area
//Deleting  edge directly


//<START BLOCK :  DEC 2012>
/*

$("a.removeEdgeType1").live('click', function(event) {
			event.preventDefault();
			$(this).closest("tr").remove();
			return false;
});

*/
//<END BLOCK :  DEC 2012>

$("a.removeEdgeType2").live('click', function(event) {
			event.preventDefault();
			$(this).closest("tr").remove();
			return false;
});


//<START BLOCK :  DEC 2012>
/*

$("a.removeEdgeType3").live('click', function(event) {
			event.preventDefault();
			$(this).closest("tr").remove();
			return false;
});

*/
//<END BLOCK :  DEC 2012>

//Remove Diagram specification 
$("a.removeLandF").live('click', function(event) {
			event.preventDefault();
			$(this).closest("tr").remove();
			return false;
});

//Remove EE
$("a.removeEE").live('click', function(event) {
			event.preventDefault();
			//$(this).closest("li").remove();
			var ee = $(this).closest("li").text();
			$(this).closest("li").remove();
			//alert(ee);
			$('.tbody82 tr td:nth-child(1)').each(function(index) {
										var rowIndex = parseInt(index, 10) + 1;
										var FName = $(this).text();
										var TName = $('.tbody82 tr:nth-child(' + rowIndex + ') td:nth-child(3)').text();
										if ((ee == FName) || (ee == TName))
										{
											$(this).closest("tr").remove();
										}
			
			});



			//<START BLOCK :  DEC 2012>
			/*

			$("#select521EE option").each(function(index){
				if (ee == $(this).text())
				{	
					$(this).remove();
				}
			});

			$("#select522EE option").each(function(index){
				if (ee == $(this).text())
				{	
					$(this).remove();
				}
			});

			*/
			//<END BLOCK :  DEC 2012>


			$('#textDataName').val('');
			$('#selectTo').empty();
			$('#selectFrom').empty();
			$("#selectFromType").val('Select');
			$("#selectToType").val('Select');

			return false;

});

//Remove DS
$("a.removeDS").live('click', function(event) {
			event.preventDefault();
			//$(this).closest("li").remove();
			var ds = $(this).closest("li").text();
			$(this).closest("li").remove();
			//alert(ee);
			$('.tbody82 tr td:nth-child(1)').each(function(index) {
										var rowIndex = parseInt(index, 10) + 1;
										var FName = $(this).text();
										var TName = $('.tbody82 tr:nth-child(' + rowIndex + ') td:nth-child(3)').text();
										if ((ds == FName) || (ds == TName))
										{
											$(this).closest("tr").remove();
										}
			
			});


			//<START BLOCK :  DEC 2012>
			/*

			$("#select541DS option").each(function(index){
				if (ds == $(this).text())
				{	
					$(this).remove();
				}
			});

			$("#select542DS option").each(function(index){
				if (ds == $(this).text())
				{	
					$(this).remove();
				}
			});

			*/
			//<END BLOCK :  DEC 2012>

			$('#textDataName').val('');
			$('#selectTo').empty();
			$('#selectFrom').empty();
			$("#selectFromType").val('Select');
			$("#selectToType").val('Select');

			return false;

});



//Remove Process
$("a.removeP").live('click', function(event) {
			event.preventDefault();
			//$(this).closest("li").remove();
			var p = $(this).closest("li").text();
			$(this).closest("li").remove();
			//alert(ee);
			
			$('.tbody82 tr td:nth-child(1)').each(function(index) {
				var rowIndex = parseInt(index, 10) + 1;
				var FName = $(this).text();
				var TName = $('.tbody82 tr:nth-child(' + rowIndex + ') td:nth-child(3)').text();
				if ((p == FName) || (p == TName))
				{
					$(this).closest("tr").remove();
				}
			
			});
			

			//<START BLOCK :  DEC 2012>
			/*


			$('.tbody81 tr td:nth-child(2)').each(function(index) {
				//var rowIndex = parseInt(index, 10) + 1;
				var Name = $(this).text();
				//var TName = $('.tbody82 tr:nth-child(' + rowIndex + ') td:nth-child(3)').text();
				if (p == Name)
				{
						$(this).closest("tr").remove();
				}
			
			});

			$('.tbody83 tr td:nth-child(1)').each(function(index) {
				//var rowIndex = parseInt(index, 10) + 1;
				var PName = $(this).text();
				//var TName = $('.tbody82 tr:nth-child(' + rowIndex + ') td:nth-child(3)').text();
				if (p == PName)
				{
					$(this).closest("tr").remove();
				}
			
			});

			$("#select51P option").each(function(index){
				if (p == $(this).text())
				{	
					$(this).remove();
				}
			});

			$("#select521P option").each(function(index){
				if (p == $(this).text())
				{	
					$(this).remove();
				}
			});
			$("#select522P option").each(function(index){
				if (p == $(this).text())
				{	
					$(this).remove();
				}
			});
			$("#select53P1 option").each(function(index){
				if (p == $(this).text())
				{	
					$(this).remove();
				}
			});
			$("#select53P2 option").each(function(index){
				if (p == $(this).text())
				{	
					$(this).remove();
				}
			});

			$("#select541P option").each(function(index){
				if (p == $(this).text())
				{	
					$(this).remove();
				}
			});

			$("#select542P option").each(function(index){
				if (p == $(this).text())
				{	
					$(this).remove();
				}
			});
			$("#select55P option").each(function(index){
				if (p == $(this).text())
				{	
					$(this).remove();
				}
			});


			*/
			//<END BLOCK :  DEC 2012>

			$('#textDataName').val('');
			$('#selectTo').empty();
			$('#selectFrom').empty();
			$("#selectFromType").val('Select');
			$("#selectToType").val('Select');

			return false;

});

	


        //Insert Level and Figure number
        $('#btnLevelFigureAdd').click(function() {

                //suppressNonNumericInput(event)
		
		        var rowCount = $('#table6 >tbody >tr').length;
		        //alert(rowCount);
		        if (rowCount != 0)
		        {
			        alert("You have already specified the level number and figure number for the DFD. If you want to make any change then first remove your previous inputs from Table #6");
		        }else{
		        var levelNo = $('#textLevelNo').val();
		        var figNo = $('#textFigureNo').val();
		        levelNo = jQuery.trim(levelNo);
		        figNo = jQuery.trim(figNo);
		        if (levelNo == '')
		         {
			        alert('Enter level for the DFD in first textbox of Table #1');
		         }
		        else if (!levelNo.match(/^[0-9]+$/))
		        {
			        alert("Level of DFD can be an integer value only");
		        }
		        else
		        {
			        /*
			        var totalNode = parseInt(noOfNodes);
			        if (totalNode > 14)
			        {
				        alert("The control flow graph related to our problem should not contain more than 15 nodes");
			        }
			        */
			        if (figNo == '')
			        {
				        alert('Enter Figure number of the DFD in second textbox of Table #1');
			        }
			        else if (!figNo.match(/^[0-9]+$/))
			        {
				        alert("Figure number of DFD can be an integer value only");
			        }
			        else
			        {
			        //alert("i am here");
				        addLevelFigure(levelNo, figNo);
				        //alert("Added successfully. You may check Table #6.");				
			        }



		        }
		        }
		
		         $('#textLevelNo').val('');
		         $('#textFigureNo').val('');

		         $('#textDataName').val('');
		        $('#selectTo').empty();
		        $('#selectFrom').empty();
		        $("#selectFromType").val('Select');
		        $("#selectToType").val('Select');
		               
	        });



//Insert External entity
$('#btnExternalEntityAdd').click(function() {        
		var textEE = $('#textExternalEntity').val();
		textEE = jQuery.trim(textEE);
		//textEntity = textEntity.replace(/-/g, '_');
		textEE = textEE.replace(/\s+/g," ");//someText = someText.replace(/\s+/g," ");
		
		if (textEE == '')
		 {
			alert('Name of the external entity cannot be empty!');
			$('#textExternalEntity').parent().effect("highlight", {color: errorColor}, 2500);
		 }
		else if (!textEE.match(/^[a-zA-Z ]+$/) ) 

		 {
				alert("Write name of external entity again! You are allowed to use alphabets and white-space only.");
				$('#textExternalEntity').parent().effect("highlight", {color: errorColor}, 2500);	
		 }
		else
		 {
				//checking the actor to be inserted is already inserted or not
				var alreadyExistEE = 0;
				$('#listEE li').each(function(index) {
					var temp = $(this).text();
					if (textEE.toLowerCase() == temp.toLowerCase())
					{
						alreadyExistEE = 1;
					}
				});
				if (alreadyExistEE == 0)
				{
					$('#listDS li').each(function(index) {
						var temp = $(this).text();
						if (textEE.toLowerCase() == temp.toLowerCase())
						{
								alreadyExistEE = 2;
						}
					});
				}
				if (alreadyExistEE == 0)
				{
					$('#listP li').each(function(index) {
						var temp = $(this).text();
						if (textEE.toLowerCase() == temp.toLowerCase())
						{
							alreadyExistEE = 3;
						}
					});
				}
		 
				//Insert new actor here  
				if (alreadyExistEE == 0)
				{

					//<START BLOCK :  DEC 2012>
					/*
					
					$('#select521EE').append($("<option>" + textEE + "</option>"));
					$('#select522EE').append($("<option>" + textEE + "</option>"));
					//$('#selectRightActorOrUC').append($("<option class='classActor'>" + textActor + "</option>"));

					*/
					//<END BLOCK :  DEC 2012>
					
					$("#listEE").append($("<li>" + textEE + "<a class='removeEE' href='#'><img src='{% static 'isad/images/new/icons/remove16x16.png' %}' width='16' height='16' border='0' /></li>"));

					//alert("Added successfully. You may check Table #7.");
					//$('html, body').animate({scrollTop: $('.tbody7').offset().top}, 'fast');
					$('#textExternalEntity').parent().effect("highlight", {color: okColor}, 2500);
					
				}

				//Give proper message for already inserted actor 
				else if(alreadyExistEE == 1)
				{
					alert("You have already added that external entity");
				}
				else if(alreadyExistEE == 2)
				{
					alert("You have already added a data store by the same name");
				}
				else
				{
					alert("You have already added a process by the same name");
				}

			 
			}

		 //$('#textExternalEntity').val('');

		 $('#textDataName').val('');
		 $('#selectTo').empty();
		 $('#selectFrom').empty();
		 $("#selectFromType").val('Select');
		 $("#selectToType").val('Select');
		       
	});



//Insert Process
$('#btnProcessAdd').click(function() {

		var textP = $('#textProcess').val();
		var textPL = $('#textProcessLevel').val();
		textP = jQuery.trim(textP);
		textPL = jQuery.trim(textPL);
		//textEntity = textEntity.replace(/-/g, '_');
		textP = textP.replace(/\s+/g," ");//someText = someText.replace(/\s+/g," ");
		
		if (textP == '')
		 {
			alert('Write name of process in adjacent textbox of Table #2!');
			$('#textProcess').parent().effect("highlight", {color: errorColor}, 2500);
		 }
		else if (!textP.match(/^[a-zA-Z ]+$/) ) 
		 {
				alert("Write name of the process again, you are allowed to use  alphabates and white-space only!");
				$('#textProcess').parent().effect("highlight", {color: errorColor}, 2500);
		 }
		else
		 {
		      if (textPL == '')
		      {
				alert('Write level of the process in the 2nd textbox of Table #2!');
				$('#textProcessLevel').parent().effect("highlight", {color: errorColor}, 2500);
		      }
			  else if (!textPL.match(/^[0-9.]+$/) )
			  {
			    alert("Specify the level of the process again, you are allowed to use numerics and dot (.) only!");
			    $('#textProcessLevel').parent().effect("highlight", {color: errorColor}, 2500);
			  }
			  else
			  {
				//checking the actor to be inserted is already inserted or not
				var alreadyExistP = 0;
				var textPModified = textP + '(' + textPL + ')';
				$('#listP li').each(function(index) {
					var temp = $(this).text();

					// DEC 2012
					var tempC = temp;
					var textPModifiedC = textPModified;
					//alert(s);
					tempC = tempC.replace(/\(.*?\)/, '');
					textPModifiedC = textPModifiedC.replace(/\(.*?\)/, '');
					//alert(s);
					// DEC 2012

					//if (textPModified.toLowerCase() == temp.toLowerCase())
					if (textPModifiedC.toLowerCase() == tempC.toLowerCase())
					{
						alreadyExistP = 1;
					}
				});
				if (alreadyExistP == 0)
				{
					$('#listEE li').each(function(index) {
						var temp = $(this).text();
						if (textP.toLowerCase() == temp.toLowerCase())
						{
								alreadyExistP = 2;
						}
					});
				}
				if (alreadyExistP == 0)
				{
					$('#listDS li').each(function(index) {
						var temp = $(this).text();
						if (textP.toLowerCase() == temp.toLowerCase())
						{
							alreadyExistP = 3;
						}
					});
				}
		 
				//Insert new actor here  
				if (alreadyExistP == 0)
				{

					//<START BLOCK :  DEC 2012>
					/*
					
					$('#select51P').append($("<option>" + textPModified + "</option>"));
					$('#select521P').append($("<option>" + textPModified + "</option>"));
					$('#select522P').append($("<option>" + textPModified + "</option>"));
					$('#select53P1').append($("<option>" + textPModified + "</option>"));
					$('#select53P2').append($("<option>" + textPModified + "</option>"));
					$('#select541P').append($("<option>" + textPModified + "</option>"));
					$('#select542P').append($("<option>" + textPModified + "</option>"));
					$('#select55P').append($("<option>" + textPModified + "</option>"));
					//$('#selectRightActorOrUC').append($("<option class='classActor'>" + textActor + "</option>"));

					*/
					//<END BLOCK :  DEC 2012>
					
					$("#listP").append($("<li>" + textPModified + "<a class='removeP' href='#'><img src='{% static 'isad/images/new/icons/remove16x16.png' %}' width='16' height='16' border='0' /></li>"));

					// alert("Added successfully. You may check Table #7.");
					//$('html, body').animate({scrollTop: $('.tbody7').offset().top}, 'fast');
					$('#textProcess').parent().effect("highlight", {color: okColor}, 2500);
					$('#textProcessLevel').parent().effect("highlight", {color: okColor}, 2500);
					
				}

				//Give proper message for already inserted actor 
				else if(alreadyExistP == 1)
				{
					alert("You have already specified that process!");
					$('#textProcess').parent().effect("highlight", {color: errorColor}, 2500);
				}
				else if(alreadyExistP == 2)
				{
					alert("You have already added an external entity by the same name!");
					$('#textProcess').parent().effect("highlight", {color: errorColor}, 2500);
				}
				else
				{
					alert("You have already added a data store by the same name!");
					$('#textProcess').parent().effect("highlight", {color: errorColor}, 2500);
				}

			  }
			}

		 //$('#textProcess').val('');
		 //$('#textProcessLevel').val('');

		 $('#textDataName').val('');
		 $('#selectTo').empty();
		 $('#selectFrom').empty();
		 $("#selectFromType").val('Select');
		 $("#selectToType").val('Select');
		       
	});



//Insert Data store
$('#btnDataStoreAdd').click(function() {
         
		var textDS = $('#textDataStore').val();
		textDS = jQuery.trim(textDS);
		//textEntity = textEntity.replace(/-/g, '_');
		textDS = textDS.replace(/\s+/g," ");//someText = someText.replace(/\s+/g," ");
		
		if (textDS == '')
		 {
			alert('Write name of data store in adjacent textbox of Table #3!');
			$('#textDataStore').parent().effect("highlight", {color: errorColor}, 2500);
		 }
		else if (!textDS.match(/^[a-zA-Z ]+$/) ) 

		 {
				alert("Write name of data store again! You are allowed to use alphabets and white-space only.");
				$('#textDataStore').parent().effect("highlight", {color: errorColor}, 2500);
		 }
		else
		 {
				//checking the actor to be inserted is already inserted or not
				var alreadyExistDS = 0;
				$('#listDS li').each(function(index) {
					var temp = $(this).text();
					if (textDS.toLowerCase() == temp.toLowerCase())
					{
						alreadyExistDS = 1;
					}
				});
				if (alreadyExistDS == 0)
				{
					$('#listEE li').each(function(index) {
						var temp = $(this).text();
						if (textDS.toLowerCase() == temp.toLowerCase())
						{
								alreadyExistDS = 2;
						}
					});
				}
				if (alreadyExistDS == 0)
				{
					$('#listP li').each(function(index) {
						var temp = $(this).text();
						if (textDS.toLowerCase() == temp.toLowerCase())
						{
							alreadyExistDS = 3;
						}
					});
				}
		 
				//Insert new actor here  
				if (alreadyExistDS == 0)
				{


					//<START BLOCK :  DEC 2012>
					/*

					$('#select541DS').append($("<option>" + textDS + "</option>"));
					$('#select542DS').append($("<option>" + textDS + "</option>"));

					*/
					//<END BLOCK :  DEC 2012>
					


					
					//$('#selectRightActorOrUC').append($("<option class='classActor'>" + textActor + "</option>"));
					
					$("#listDS").append($("<li>" + textDS + "<a class='removeDS' href='#'><img src='{% static 'isad/images/new/icons/remove16x16.png' %}' width='16' height='16' border='0' /></li>"));

					//alert("Added successfully. You may check Table #7.");
					//$('html, body').animate({scrollTop: $('.tbody7').offset().top}, 'fast');
					$('#textDataStore').parent().effect("highlight", {color: okColor}, 2500);
					
				}

				//Give proper message for already inserted actor 
				else if(alreadyExistDS == 1)
				{
					alert("You have already added that data store!");
					$('#textDataStore').parent().effect("highlight", {color: okColor}, 2500);
				}
				else if(alreadyExistDS == 2)
				{
					alert("You have already specied an external entity by the same name!");
					$('#textDataStore').parent().effect("highlight", {color: okColor}, 2500);
				}
				else
				{
					alert("You have already added a process having the same name!");
					$('#textDataStore').parent().effect("highlight", {color: okColor}, 2500);
				}

			 
			}

		 //$('#textDataStore').val('');

		 //$('#textDataName').val('');
		 $('#selectTo').empty();
		 $('#selectFrom').empty();
		 $("#selectFromType").val('Select');
		 $("#selectToType").val('Select');
		       
	});





//Start Aded DEC 2012 Insert edge from Table # test

	$('#selectFromType option').click(function() {
	//alert($("#selectFromType option:selected").html());
		var type = $("#selectFromType option:selected").text();
	//alert(type);
		if (type == 'External entity')
		{
			$('#selectFrom').empty();
			$('#listEE li').each(function(index) {
				var temp = $(this).text();
				$('#selectFrom').append($("<option>" + temp + "</option>"));
						
			});

		}
		else if (type == 'Process')
		{
			$('#selectFrom').empty();
			$('#listP li').each(function(index) {
				var temp = $(this).text();
				$('#selectFrom').append($("<option>" + temp + "</option>"));
						
			});

		}
		 else if (type == 'Data store')
		{
			$('#selectFrom').empty();
			$('#listDS li').each(function(index) {
						var temp = $(this).text();
						$('#selectFrom').append($("<option>" + temp + "</option>"));
						
			});

		}
		else{

		$('#selectFrom').empty();

		}
		// $('#selectFrom').append($("<option>" + textPModified + "</option>"));
    });

	$('#selectToType option').click(function() {
	//alert($("#selectToType option:selected").html());
		var type = $("#selectToType option:selected").text();
		 //alert(type);
		if (type == 'External entity')
		{
			$('#selectTo').empty();
			$('#listEE li').each(function(index) {
						var temp = $(this).text();
						$('#selectTo').append($("<option>" + temp + "</option>"));
						
			});

		}
		else if (type == 'Process')
		{
			$('#selectTo').empty();
			$('#listP li').each(function(index) {
						var temp = $(this).text();
						$('#selectTo').append($("<option>" + temp + "</option>"));
						
			});

		}
		else if (type == 'Data store')
		{
			$('#selectTo').empty();
			$('#listDS li').each(function(index) {
						var temp = $(this).text();
						$('#selectTo').append($("<option>" + temp + "</option>"));
						
			});

		}
		else{

			$('#selectTo').empty();

		}
  });

  $('#btnDataFlowAdd').click(function() {
		var textFromType = $("#selectFromType option:selected").text();
		var textToType = $("#selectToType option:selected").text();
		//alert(textFromType);
		//alert(textToType);
		if (textFromType == 'Select')
		{
			alert("select external entity or process or data store from first 'Type(P/DS/EE)' drop down list");
		}
		else if (textToType == 'Select')
		{
			alert("select external entity or process or data store from second 'Type(P/DS/EE)' drop down list");
		}else{

			if ($('#selectFrom option').size() == 0)
			{
				if (textFromType == 'External entity')
				{
					alert("Add external entities from Table #2 then come to this step");
				}
				else if (textFromType == 'Process')
				{
					alert("Add processes from Table #3 then come to this step");
				}else{

					alert("Add data stores from Table #4 then come to this step");

				}
			}
			else if ($('#selectTo option').size() == 0)
			{
				if (textToType == 'External entity')
				{
					alert("Add external entities from Table #2 then come to this step");
				}
				else if (textToType == 'Process')
				{
					alert("Add processes from Table #3 then come to this step");
				}
				else{
					alert("Add data stores from Table #4 then come to this step");
				}
			}
			else{
					if (textFromType == 'Process' && textToType == 'Process')
					{

							//var counF = $('#select53P1 option').size();
							//var counT = $('#select53P2 option').size(); 
							var textData = $('#textDataName').val();
							//alert(textData.length);
							/* if (counF == 0)
							{
							alert('Add external entity from Table #2 and then come to this step');
							}
							else  */
							//if (counT == 0)
							//{
								//alert('Add processes from Table #3 and then come to this step');
							//}
							//else
							//{	
								var textF = $("#selectFrom option:selected").val();
								var textT = $("#selectTo option:selected").val();
								if (textF == textT)
								{
									alert("Same process is selected in both sides, It is not possible");
								}
								else
								{

								
									/* Handling the text of the data */
									textData = jQuery.trim(textData);
									textData = textData.replace(/\s+/g, " ");
									//alert(textLabel.length);
									if ((!textData.match(/^[a-zA-Z ]+$/)) && (!(textData.length > 0)))
									{  // (textLabel.length > 0) check for null Label for a relation 
										alert("Write the data name using  alphabates and white space only");
									}
									else
									{
										//var textF = $("#select53P1 option:selected").val();
										//var textT = $("#select53P2 option:selected").val();
										/*check the relation is already taken between those elements or not*/
										var alreadyExistEdge = 0;
										$('.tbody82 tr td:nth-child(1)').each(function(index) {
											var rowIndex = parseInt(index, 10) + 1;
											var FName = $(this).text();
											var dName = $('.tbody82 tr:nth-child(' + rowIndex + ') td:nth-child(2)').text();
											var TName = $('.tbody82 tr:nth-child(' + rowIndex + ') td:nth-child(3)').text();
											if ((textF == FName) && (textData == dName) &&(textT == TName))
											{
												alreadyExistEdge = 1;
											}
										});
						
										if (alreadyExistEdge == 1)
										{
											alert("You have already enter that edge between " + textF + " and " + textT);
										}else{
											addEdgeType2(textF, textData, textT);
											//alert("Added successfully. You may check the entry in Table #8.");
										}
									}
				
								}
				//}
				
			

		 //$('#text53Data').val('');

					}
					else if (textFromType == 'Process' || textToType == 'Process')
					{
								var textData = $('#textDataName').val();
		
								
								var textF = $("#selectFrom option:selected").val();
								var textT = $("#selectTo option:selected").val();
								
								
								

								
									/* Handling the text of the data */
									textData = jQuery.trim(textData);
									textData = textData.replace(/\s+/g, " ");
									//alert(textLabel.length);
									if ((!textData.match(/^[a-zA-Z ]+$/)) && (!(textData.length > 0)))
									{  // (textLabel.length > 0) check for null Label for a relation 
										alert("Write the data name using  alphabates and white space only");
									}
									else
									{
										//var textF = $("#select53P1 option:selected").val();
										//var textT = $("#select53P2 option:selected").val();
										/*check the relation is already taken between those elements or not*/
										var alreadyExistEdge = 0;
										$('.tbody82 tr td:nth-child(1)').each(function(index) {
											var rowIndex = parseInt(index, 10) + 1;
											var FName = $(this).text();
											var dName = $('.tbody82 tr:nth-child(' + rowIndex + ') td:nth-child(2)').text();
											var TName = $('.tbody82 tr:nth-child(' + rowIndex + ') td:nth-child(3)').text();
											if ((textF == FName) && (textData == dName) &&(textT == TName))
											{
												alreadyExistEdge = 1;
											}
										});
						
										if (alreadyExistEdge == 1)
										{
											alert("You have already enter that edge between " + textF + " and " + textT);
										}else{
											addEdgeType2(textF, textData, textT);
											//alert("Added successfully. You may check the entry in Table #8.");
										}
									}
				
								
				
					}
					else{
						alert("Data can not flow from " + textFromType + " to " + textToType + " in a DFD");
					}


			}

		}

	//$('#textDataName').val('');
	$('#selectTo').empty();
	$('#selectFrom').empty();
	$("#selectFromType").val('Select');
	$("#selectToType").val('Select');

  });

//End Added DEC 2012 Insert edge from Table # test

//<START BLOCK :  DEC 2012>
/*

//Insert EdgeType1
$('#btn51Add').click(function() {
         
		var coun = $('#select51P option').size();
		 
		var textData = $('#text51Data').val();
		
		if (coun == 0)
		 {
			alert('Add processes from Table #3 and then come to this step');
		 }
		
		else
		 {	
								// Handling the text of the data 
								textData = jQuery.trim(textData);
								textData = textData.replace(/\s+/g, " ");
								//alert(textLabel.length);
								if ((!textData.match(/^[a-zA-Z ]+$/)) && (textData.length > 0))
								{  // (textLabel.length > 0) check for null Label for a relation 
									alert("Write the data name using  alphabates and white space only");
								}
								else
								{
									var textP = $("#select51P option:selected").val();
									//check the relation is already taken between those elements or not
									var alreadyExistEdge = 0;
									$('.tbody81 tr td:nth-child(2)').each(function(index) {
										var rowIndex = parseInt(index, 10) + 1;
										var pName = $(this).text();
										var dName = $('.tbody81 tr:nth-child(' + rowIndex + ') td:nth-child(1)').text();
										if ((textP == pName) && (textData == dName))
										{
											alreadyExistEdge = 1;
										}
									});
						
									if (alreadyExistEdge == 1)
									{
										alert("You have already enter an edge between " + textP + " and " + textData);
									}else{
										addEdgeType1(textData, textP);
									}
								}
				
				
	
		     }
				
			
			

		 $('#text51Data').val('');
		       
	});

// Logic area  EdgeType1

*/
// <END BLOCK :  DEC 2012>


//<START BLOCK :  DEC 2012>
/*

//Insert EdgeType3
$('#btn55Add').click(function() {
         
		var coun = $('#select55P option').size();
		 
		var textData = $('#text55Data').val();
		
		if (coun == 0)
		 {
			alert('Add processes from Table #3 and then come to this step');
		 }
		
		else
		 {	
								// Handling the text of the data 
								textData = jQuery.trim(textData);
								textData = textData.replace(/\s+/g, " ");
								//alert(textLabel.length);
								if ((!textData.match(/^[a-zA-Z ]+$/)) && (textData.length > 0))
								{  // (textLabel.length > 0) check for null Label for a relation 
									alert("Write the data name using  alphabates and white space only");
								}
								else
								{
									var textP = $("#select55P option:selected").val();
									//check the relation is already taken between those elements or not
									var alreadyExistEdge = 0;
									$('.tbody83 tr td:nth-child(1)').each(function(index) {
										var rowIndex = parseInt(index, 10) + 1;
										var pName = $(this).text();
										var dName = $('.tbody83 tr:nth-child(' + rowIndex + ') td:nth-child(2)').text();
										if ((textP == pName) && (textData == dName))
										{
											alreadyExistEdge = 1;
										}
									});
						
									if (alreadyExistEdge == 1)
									{
										alert("You have already enter an edge between " + textP + " and " + textData);
									}else{
										addEdgeType3(textData, textP);
									}
								}
				
	
		     }
				
			

		 $('#text55Data').val('');
		       
	});

*/
// <END BLOCK :  DEC 2012>


//<START BLOCK :  DEC 2012>
/*


//Insert EdgeType2
$('#btn521Add').click(function() {
         
		var counF = $('#select521EE option').size();
		var counT = $('#select521P option').size(); 
		var textData = $('#text521Data').val();
		
		if (counF == 0)
		 {
			alert('Add external entity from Table #2 and then come to this step');
		 }
		else if (counT == 0)
		{
			alert('Add processes from Table #3 and then come to this step');
		}
		else
		 {	
								// Handling the text of the data 
								textData = jQuery.trim(textData);
								textData = textData.replace(/\s+/g, " ");
								//alert(textLabel.length);
								if ((!textData.match(/^[a-zA-Z ]+$/)) && (textData.length > 0))
								{  // (textLabel.length > 0) check for null Label for a relation 
									alert("Write the data name using  alphabates and white space only");
								}
								else
								{
									var textF = $("#select521EE option:selected").val();
									var textT = $("#select521P option:selected").val();
									//check the relation is already taken between those elements or not
									var alreadyExistEdge = 0;
									$('.tbody82 tr td:nth-child(1)').each(function(index) {
										var rowIndex = parseInt(index, 10) + 1;
										var FName = $(this).text();
										var dName = $('.tbody82 tr:nth-child(' + rowIndex + ') td:nth-child(2)').text();
										var TName = $('.tbody82 tr:nth-child(' + rowIndex + ') td:nth-child(3)').text();
										if ((textF == FName) && (textData == dName) &&(textT == TName))
										{
											alreadyExistEdge = 1;
										}
									});
						
									if (alreadyExistEdge == 1)
									{
										alert("You have already enter that edge between " + textF + " and " + textT);
									}else{
										addEdgeType2(textF, textData, textT);
									}
								}
				
	
		     }
				
			

		 $('#text521Data').val('');
		       
	});



	$('#btn522Add').click(function() {
         
		var counT = $('#select522EE option').size();
		var counF = $('#select522P option').size(); 
		var textData = $('#text522Data').val();
		
		if (counF == 0)
		 {
			alert('Add processes from Table #3 and then come to this step');
		 }
		else if (counT == 0)
		{
			alert('Add external entity from Table #2 and then come to this step');
		}
		else
		 {	
								// Handling the text of the data 
								textData = jQuery.trim(textData);
								textData = textData.replace(/\s+/g, " ");
								//alert(textLabel.length);
								if ((!textData.match(/^[a-zA-Z ]+$/)) && (textData.length > 0))
								{  // (textLabel.length > 0) check for null Label for a relation 
									alert("Write the data name using  alphabates and white space only");
								}
								else
								{
									var textT = $("#select522EE option:selected").val();
									var textF = $("#select522P option:selected").val();
									//check the relation is already taken between those elements or not
									var alreadyExistEdge = 0;
									$('.tbody82 tr td:nth-child(1)').each(function(index) {
										var rowIndex = parseInt(index, 10) + 1;
										var FName = $(this).text();
										var dName = $('.tbody82 tr:nth-child(' + rowIndex + ') td:nth-child(2)').text();
										var TName = $('.tbody82 tr:nth-child(' + rowIndex + ') td:nth-child(3)').text();
										if ((textF == FName) && (textData == dName) &&(textT == TName))
										{
											alreadyExistEdge = 1;
										}
									});
						
									if (alreadyExistEdge == 1)
									{
										alert("You have already enter that edge between " + textF + " and " + textT);
									}else{
										addEdgeType2(textF, textData, textT);
									}
								}
				
	
		     }
				
			

		 $('#text522Data').val('');
		       
	});



	$('#btn53Add').click(function() {
         
		var counF = $('#select53P1 option').size();
		var counT = $('#select53P2 option').size(); 
		var textData = $('#text53Data').val();
		
		
		if (counT == 0)
		{
			alert('Add processes from Table #3 and then come to this step');
		}
		else
		 {	
				var textF = $("#select53P1 option:selected").val();
				var textT = $("#select53P2 option:selected").val();
				if (textF == textT)
				{
					alert("Same process is selected in both sides, It is not possible");
				}
				else
				{

								
								// Handling the text of the data 
								textData = jQuery.trim(textData);
								textData = textData.replace(/\s+/g, " ");
								//alert(textLabel.length);
								if ((!textData.match(/^[a-zA-Z ]+$/)) && (textData.length > 0))
								{  // (textLabel.length > 0) check for null Label for a relation 
									alert("Write the data name using  alphabates and white space only");
								}
								else
								{
									//var textF = $("#select53P1 option:selected").val();
									//var textT = $("#select53P2 option:selected").val();
									//check the relation is already taken between those elements or not
									var alreadyExistEdge = 0;
									$('.tbody82 tr td:nth-child(1)').each(function(index) {
										var rowIndex = parseInt(index, 10) + 1;
										var FName = $(this).text();
										var dName = $('.tbody82 tr:nth-child(' + rowIndex + ') td:nth-child(2)').text();
										var TName = $('.tbody82 tr:nth-child(' + rowIndex + ') td:nth-child(3)').text();
										if ((textF == FName) && (textData == dName) &&(textT == TName))
										{
											alreadyExistEdge = 1;
										}
									});
						
									if (alreadyExistEdge == 1)
									{
										alert("You have already enter that edge between " + textF + " and " + textT);
									}else{
										addEdgeType2(textF, textData, textT);
									}
								}
				
				}
		     }
				
			

		 $('#text53Data').val('');
		       
	});



$('#btn541Add').click(function() {
         
		var counF = $('#select541DS option').size();
		var counT = $('#select541P option').size(); 
		var textData = $('#text541Data').val();
		
		 if (counF == 0)
		 {
			alert('Add data store from Table #4 and then come to this step');
		 }
		else  
		if (counT == 0)
		{
			alert('Add processes from Table #3 and then come to this step');
		}
		else
		 {	
								// Handling the text of the data 
								textData = jQuery.trim(textData);
								textData = textData.replace(/\s+/g, " ");
								//alert(textLabel.length);
								if ((!textData.match(/^[a-zA-Z ]+$/)) && (textData.length > 0))
								{  // (textLabel.length > 0) check for null Label for a relation 
									alert("Write the data name using  alphabates and white space only");
								}
								else
								{
									var textF = $("#select541DS option:selected").val();
									var textT = $("#select541P option:selected").val();
									//check the relation is already taken between those elements or not
									var alreadyExistEdge = 0;
									$('.tbody82 tr td:nth-child(1)').each(function(index) {
										var rowIndex = parseInt(index, 10) + 1;
										var FName = $(this).text();
										var dName = $('.tbody82 tr:nth-child(' + rowIndex + ') td:nth-child(2)').text();
										var TName = $('.tbody82 tr:nth-child(' + rowIndex + ') td:nth-child(3)').text();
										if ((textF == FName) && (textData == dName) &&(textT == TName))
										{
											alreadyExistEdge = 1;
										}
									});
						
									if (alreadyExistEdge == 1)
									{
										alert("You have already enter that edge between " + textF + " and " + textT);
									}else{
										addEdgeType2(textF, textData, textT);
									}
								}
				
	
		     }
				
			

		 //$('#text54Data').val('');
		 $('#text541Data').val('');
		       
	});


	$('#btn542Add').click(function() {
         
		var counT = $('#select542DS option').size();
		var counF = $('#select542P option').size(); 
		var textData = $('#text542Data').val();
		
		 if (counF == 0)
		 {
			alert('Add processes from Table #3 and then come to this step');
		 }
		else  
		if (counT == 0)
		{
			alert('Add data store from Table #4 and then come to this step');
		}
		else
		 {	
								// Handling the text of the data 
								textData = jQuery.trim(textData);
								textData = textData.replace(/\s+/g, " ");
								//alert(textLabel.length);
								if ((!textData.match(/^[a-zA-Z ]+$/)) && (textData.length > 0))
								{  // (textLabel.length > 0) check for null Label for a relation 
									alert("Write the data name using  alphabates and white space only");
								}
								else
								{
									var textT = $("#select542DS option:selected").val();
									var textF = $("#select542P option:selected").val();
									//check the relation is already taken between those elements or not
									var alreadyExistEdge = 0;
									$('.tbody82 tr td:nth-child(1)').each(function(index) {
										var rowIndex = parseInt(index, 10) + 1;
										var FName = $(this).text();
										var dName = $('.tbody82 tr:nth-child(' + rowIndex + ') td:nth-child(2)').text();
										var TName = $('.tbody82 tr:nth-child(' + rowIndex + ') td:nth-child(3)').text();
										if ((textF == FName) && (textData == dName) &&(textT == TName))
										{
											alreadyExistEdge = 1;
										}
									});
						
									if (alreadyExistEdge == 1)
									{
										alert("You have already enter that edge between " + textF + " and " + textT);
									}else{
										addEdgeType2(textF, textData, textT);
									}
								}
				
	
		     }
				
			

		 $('#text542Data').val('');
		       
	});


*/
// <END BLOCK :  DEC 2012>


//Insert edges
$('#btnEdgeAdd').click(function() {

		var SNode = $("#selectSourceNode option:selected").val();
		var DNode = $("#selectDestinationNode option:selected").val();
		var edgeExists = 0;
		if (SNode == DNode)
		{
			alert("Transfer of control from one node will go to another node");
		}
		else
		{

			$('#nodeFrom' + SNode + ' li').each(function(index) {

									if ($(this).text() == DNode)
									{
										edgeExists = 1;
									}
									
			});

			if (edgeExists == 1)
			{
				alert("You already consider that edge");
			}else
			{
				edgeEntry(SNode, DNode);
			}
			
		}
         
		       
	});







// Drawing area
$('#btnDFD').click(function() {
		
		var initNodeBoxDS = 'node[shape=none, shapefile="", style=filled, color="white", fontcolor=red];' +
		                     '\n' +
		                     'node[shape=none, shapefile="_LIB_IMAGE_GRAPHVIZ_data_store_shape.png", imagescale=both]; ';

		var drawDFD = '';
		var initGraph = 'digraph DFD{\n ';
		var initNodeCircle = 'node[shape=circle, shapefile="", style=filled, color="darkslategray1", fontcolor=red]; ';
		
		var initNodeBox = 'node[shape=box, shapefile="", color="black", fontcolor=red]; ';
		var initNodeNone = 'node[shape=none, shapefile="", style=filled, color="white", fontcolor=red]; ';
		var initNodes = '';
		var colorEdge = ' [color=blue];\n';
		var completeNodes = '';
		var completeEdges = '';
		var end = '';
		var levelNo = '';
		var figNo = '';

        /*
		//alert(rand);
		var cn = $('.tbody6 tr').length;
		//alert(cn);
		if (cn == 0)
		{
			levelNo = ':Not Specifed:';
			figNo = ':Not Specifed:';
		}
		else
		{
			levelNo = $('.tbody6 tr:nth-child(1) td:nth-child(1)').text();
			figNo = $('.tbody6 tr:nth-child(1) td:nth-child(2)').text();
		}
        */		



		$('#listEE li').each(function(index) {

				var nod = $(this).text();
				initNodeBox = initNodeBox + '"' + nod + '"; ';

		});
		$('#listP li').each(function(index) {

				var nod = $(this).text();
				var _nod = nod.indexOf("(");
				var nod_ = nod.indexOf(")");
				//alert(_nod);
				//alert(nod_);
				var level_nod = nod.substring(_nod + 1, nod_);
				//alert(level_nod);
				var name_nod = nod.substring(0, _nod);
				//alert(name_nod);
				nod = level_nod + '\\n' + name_nod;
				//alert(nod);
				
				//nod = nod.replace('(', '\\n');
				//nod = nod.replace(')', '');
				initNodeCircle = initNodeCircle + '"' + nod + '"; ';

		});
		$('#listDS li').each(function(index) {

				var nod = $(this).text();
				initNodeBoxDS = initNodeBoxDS + '"' + nod + '"; ';

		});

	/*
	// <START BLOCK : DEC 2012>
		$('.tbody81 tr td:nth-child(1)').each(function(index) {

				var nod = $(this).text();
				initNodeNone = initNodeNone + '"' + nod + '"; ';

		});
		$('.tbody83 tr td:nth-child(2)').each(function(index) {

				var nod = $(this).text();
				initNodeNone = initNodeNone + '"' + nod + '"; ';

		});

	*/
	// <END BLOCK :  DEC 2012>

		// It is important to maintain the order of nodes as that ordering can effect the shape(customized attributes) of a node.
		/*
	// <START BLOCK :  DEC 2012>
		completeNodes = initNodeBox + '\n' + initNodeCircle + '\n' + initNodeNone + '\n' + initNodeBoxDS + '\n';
		*/
	// <END BLOCK :  DEC 2012>

	// ADD DEC 2012
		completeNodes = initNodeBox + '\n' + initNodeCircle + '\n' + initNodeBoxDS + '\n';

	// FINISH DEC 2012
		//alert(completeNodes);

	/*
	// <START BLOCK :  DEC 2012>

		$('.tbody81 tr td:nth-child(1)').each(function(index) {

				var nod1 = $(this).text();
				var rowNumber = index + 1;
				var nod2 = $('.tbody81 tr:nth-child(' + rowNumber + ') td:nth-child(2)').text();
				//replace
				nod2 = nod2.replace('(', '\\n');
				nod2 = nod2.replace(')', '');
				completeEdges = completeEdges + '"' + nod1 + '" -> "' + nod2 + '" [color=blue, len=2.0];\n';

		});
		$('.tbody83 tr td:nth-child(1)').each(function(index) {

				var nod1 = $(this).text();
				var rowNumber = index + 1;
				//replace
				nod1 = nod1.replace('(', '\\n');
				nod1 = nod1.replace(')', '');
				var nod2 = $('.tbody83 tr:nth-child(' + rowNumber + ') td:nth-child(2)').text();
				completeEdges = completeEdges + '"' + nod1 + '" -> "' + nod2 + '" [color=blue, len=2.0];\n';


		});


	*/
	// <END BLOCK :  DEC 2012>


		$('.tbody82 tr td:nth-child(1)').each(function(index) {

				var nod1 = $(this).text();
				var rowNumber = index + 1;

				if (nod1.indexOf("(") >= 0)
				{
					//var nod = $(this).text();
					var _nod1 = nod1.indexOf("(");
					var nod1_ = nod1.indexOf(")");
					//alert(_nod);
					//alert(nod_);
					var level_nod1 = nod1.substring(_nod1 + 1, nod1_);
					//alert(level_nod);
					var name_nod1 = nod1.substring(0, _nod1);
					//alert(name_nod);
					nod1 = level_nod1 + '\\n' + name_nod1;
				}


				//replace
				//nod1 = nod1.replace('(', '\\n');
				//nod1 = nod1.replace(')', '');


				var nod2 = $('.tbody82 tr:nth-child(' + rowNumber + ') td:nth-child(3)').text();

				if (nod2.indexOf("(") >= 0)
				{
					//var nod = $(this).text();
					var _nod2 = nod2.indexOf("(");
					var nod2_ = nod2.indexOf(")");
					//alert(_nod);
					//alert(nod_);
					var level_nod2 = nod2.substring(_nod2 + 1, nod2_);
					//alert(level_nod);
					var name_nod2 = nod2.substring(0, _nod2);
					//alert(name_nod);
					nod2 = level_nod2 + '\\n' + name_nod2;
				}
				//replace
				nod2 = nod2.replace('(', '\\n');
				nod2 = nod2.replace(')', '');

				var nodData = $('.tbody82 tr:nth-child(' + rowNumber + ') td:nth-child(2)').text();
				completeEdges = completeEdges + '"' + nod1 + '" -> "' + nod2 + '" [color=blue, len=2.0, label="' + nodData + '"];\n';


		});



		/*


		$('.tbodyEdgeList tr td:nth-child(1)').each(function(index) {

				var nod = $(this).text();
				initNodes = initNodes + '"' + nod + '"; ';

		});

		completeNodes = initNodes + '\n';

		$('.tbodyEdgeList tr td:nth-child(2) ul').each(function(index) {

				var rowNumber = index + 1;
				var countLi = document.getElementById('nodeFrom' + rowNumber + '').getElementsByTagName("li").length;
				//alert("rowNumber  " + rowNumber + "  has li  " + countLi);
				if (countLi > 0)
				{
				
					$('#nodeFrom' + rowNumber + ' li').each(function(index1) {
						var desNode = $(this).text();
						completeEdges = completeEdges + '"' + rowNumber + '" -> "' + desNode + '" [color=blue, len=2.0];\n';
					});
				
				}

		});


		*/


		//overlap=false;
		//end = ' \n \n label="Figure no ' + figNo + ': Level ' + levelNo + ' DFD" \n }';
		end = '}';

		drawDFD = initGraph + completeNodes + completeEdges + end;
		//alert(drawDFD);
        setUpCsrf();
        $.ajax({
            type:    'POST' ,
            url:     Urls.graphviz(),
            data:    {
                'graphString': drawDFD
            },
            cache:   false,
            success: function(mesg, txtStatus, XMLHttpRequest) {
                var ts = new Date().getTime();  // Required for forced loading of the image, instead from cache
		//alert(mesg);
		var result = $.parseJSON(mesg);
                $('#dfd_draw').attr('src', result['diagram']+'?t='+ts);
                highlight('#uml-diagram-container');
            },
            error:   function(XMLHttpRequest, txtStatus, errorThrown) {
                alert(errorThrown);
            },
            dataType: 'html'
        });
		
	});

	

});


</script>


