<!-- Exercise #6 -->

<style type="text/css">
    ul.tab-headers li a {
        font-weight: bold;
    }
</style>

<link href="{{ MEDIA_URL }}lib/liteTabs/litetabs.css" rel="stylesheet">


<div class="drawing-area" style="width: 100%; overflow: scroll; height: 300px;">
    <ul class="tab-headers">
        <li style="margin-left: 0; padding-right: 0;"><a href="#statechart" id="statechart-dia">Statechart Diagram</a></li>
        <li style="margin-left: 0; padding-right: 0;"><a href="#activity" id="activity-dia">Activity Diagram</a></li>
    </ul>

    <div name="#statechart" id="w-statechart" style="width: 100%; position: relative;"> 
    </div>

    <div name="#activity" id="w-activity" style="width: 100%; position: relative;"> 
    </div>    
</div>

<!--div id="workspace-container" style="border: 1px solid red; position: relative; width: 100%; left: auto;">
</div-->

<script type='text/javascript' src='{{ MEDIA_URL }}js/jquery-ui.min.js'></script>
<script type='text/javascript' src='{{ MEDIA_URL }}lib/jquery.editable-1.3.3.min.js'></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/common.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}lib/liteTabs/litetabs.jquery.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        //$('.drawing-area').liteTabs();
        $('.drawing-area').liteTabs({ boxed: true });
        $('.drawing-area').css( {'width': '100%', 'height': 'auto'} );

        multiple_workspaces('/cse08/isad/isad/uml/statechart/', 'div#w-statechart');
    	multiple_workspaces('/cse08/isad/isad/uml/activity/', 'div#w-activity');

    	$('div#w-activity').hide();
    	$('div#w-statechart').show();
        
        $('#statechart-dia').click(function(e) {
            e.preventDefault();
	    $('div#w-activity').hide();
	    $('div#w-statechart').show();
        });
        $('#activity-dia').click(function(e) {            
            e.preventDefault();            
	    $('div#w-statechart').hide();
	    $('div#w-activity').show();
        });
    });
</script>
