{% extends 'general.html' %}

{% load staticfiles %}
{% block icon %}
    {% static 'isad/images/new/about/user_80.png' %}
{% endblock %}

{% block heading %}
    Credits
{% endblock %}

{% block content %}
    <style type="text/css">
        p {
            font-size: 1.1em;
        }
    </style>

    <link rel="stylesheet" type="text/css" href="{% static 'isad/css/about_us.css' %}">

    <div id="contents" class="aboutUs rounded-border-shadow" style="padding: 15px; background-color: white;">
        <div style="background-image: url({% static 'isad/images/new/about/weather_sun_24.png' %});" class="creditsIcon">
            <h2 class="creditsHeader">Project Guides</h2>
        </div>
        <p class="aboutUs aboutUsText">
            <strong>Dr. Debasis Samanta</strong> <br>
	    Associate Professor <br>
            School of Information Technology  <br>
            Indian Institute of Technology Kharagpur
        </p>
        <p class="aboutUs aboutUsText">
            <strong>Dr. Sudip Misra</strong> <br>
            Associate Professor <br>
            Department of Computer Science and Engineering <br>
            Indian Institute of Technology Kharagpur
        </p>
    </div>

    <div class="rounded-border-shadow" style="margin-top: 15px; padding: 15px; background-color: white;">
        <div style="background-image: url({% static 'isad/images/new/about/user_group_24.png' %}); margin-top: 10px;" class="creditsIcon">
            <h2 class="creditsHeader">Developers</h2>
        </div>

        <p class="aboutUs aboutUsText">
            <a href="http://barunsaha.me/"><strong>Barun Kumar Saha</strong></a> <br>
        </p>
        <p class="aboutUs aboutUsText" style="margin-top: 15px;">
            <strong>Tuhin Chakrabarty</strong> <br>
        </p>
	   <p class="aboutUs aboutUsText" style="margin-top: 15px;">
            <strong>Bibudhendu Pati</strong> <br>
        </p>

    </div>

    <div class="rounded-border-shadow" style="margin-top: 15px; padding: 15px; background-color: white;">
        <h2>Credits to icon sources</h2>
        <p class="aboutUs aboutUsText">
            <a href="http://commons.wikimedia.org/wiki/GNOME_Desktop_icons_2.20">GNOME-Desktop icons</a> <br>
            <a href="http://code.google.com/p/gnome-colors/">GNOME-Colors icons</a> <br>
            <a href="http://www.oxygen-icons.org/">Oxygen Icons</a> <br>
            http://rrze-icon-set.berlios.de/index.html <br>
            http://yellowicon.com/ <br>
            http://www.icon-king.com/ <br>
            PDF file icon from: (Last accessed 29 April 2011; free for commercial use) <br>
            http://www.smashingmagazine.com/2010/04/15/the-ultimate-free-web-designer-s-icon-set-750-icons-incl-psd-sources/ <br>
            <a href="http://momentumdesignlab.com/">Matte: Basic Icon Pack</a> <br>
            <a href="http://www.smashingmagazine.com/2010/04/15/the-ultimate-free-web-designer-s-icon-set-750-icons-incl-psd-sources/">The Ultimate Free Web Designer's Icon Set</a> <br>
            <a href="http://pixel-mixer.com/">Basic Set</a>
        </p>
    </div>
{% endblock %}
