{% extends 'general.html' %}

{% load staticfiles %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'isad/css/home.css' %}">


<h1>Introduction</h1>

<div id="lab-introduction" class="rounded-border-shadow home-page-section" style="background-color: white;">
    <p>
        <img src="{% static 'isad/images/new/system_software_update_64.png' %}"
	style="float: left; vertical-align: top; padding-right: 15px; padding-bottom: 5px;" alt="SE VLabs">
        Research analysis manifests clear trends of growing interest of the Computer Science students towards
        e-learning. To keep this trend as well as the pace with the rapid advancement of software technologies, the
        <strong>&quot;Software Engineering  Virtual Lab&quot;</strong> has been developed.
        This lab attempts to provide basic concepts to the students on a wide range of topics including
        Requirements analysis, ER modeling, identification of domain classes, use-case diagrams and designing a
        test suite. Ample illustrations and simulations are used to reinforce one's understanding. Once the
        concepts are clear, a set of exercises given on the concerned topics would help the students to evaluate themselves
        and their progress of learning. The main focus is to enable the students to interact with the <em>&quot;virtual&quot;</em>
        teacher in an effective and efficient manner compared to how they would do in a real lab on the subject.
    </p>
</div>


<h1>Objectives</h1>

<div id="lab-objectives" class="rounded-border-shadow home-page-section">
    <p>
        The Software Engineering Virtual Lab has been developed by keeping in mind the following objectives:
    </p>
    <ul>
        <li>To impart state-of-the-art knowledge on Software Engineering and UML in an interactive manner through the Web</li>
        <li>Present case studies to demonstrate the practical applications of different concepts</li>
        <li>Provide a scope to the students where they can solve small, real life problems</li>
    </ul>
    <p>
        All the while it is intended to present Software Engineering as an interesting subject to the students where
        learning and fun can go alongside.
    </p>
</div>


<h1>List of Experiments</h1>

<div id="lab-experiments" class="rounded-border-shadow home-page-section">
    <ol id="exp_list" style="">
    {% for t in theory %}
    <li style="" class="experiment" id="exp-{{ forloop.counter }}">
        <a id="exp{{ forloop.counter }}" href="{{ reverse_proxy_url }}{% url 'introduction' t.id %}" style="font-size: 1.1em;">{{ t.title }}</a>
        <!--span class="show-hide show-hide-exp-outline">[Show]</span-->
        <div class="experiment-outline">
            {{ t.tooltip }}
        </div>
    </li>
    {% endfor %}
    </ol>
</div>


<h1>Target Audience</h1>

<div id="lab-audience" class="rounded-border-shadow home-page-section">
    <p>
        This lab is suitable for undergraduate or postgraduate students having a course on Software Engineering.
        An overview of Object-Oriented Programming would be helpful, although not manadatory. A little
        familiarity with JavaScript is required to work on the experiment on &quot;Designing test suite&quot;.
    </p>
</div>


<h1>Relevant Courses</h1>

<div id="lab-courses" class="rounded-border-shadow home-page-section">
    <p>
        <span class="bold-block">Rajasthan Technical University</span>
        The set of experiments specified here has an almost complete match with the
        list of experiments prescribed for the &quot;Software Engineering Lab&quot; as part of the B. Tech. (Computer Engineering)
        course offered by the <em>Rajasthan Technical University</em>.

        <span class="bold-block" style="margin-top: 15px;">Other Universities</span>
        Further, around 90% of the originally prescribed experiments would help to reinforce the learning on different
        courses offered by many other Indian universities, some of which are listed below.
    </p>
    <p>
        <span class="bold-block" style="margin-top: 10px;">PG Courses</span>
        <ul>
            <li>&quot;Software Engineering&quot; course offered for M.Tech. (IT) at <em>Visvesvaraya Technical University</em></li>
            <li>&quot;Object Oriented Software Engineering&quot; course offered for M.Tech. (IT) at <em>Andhra University</em></li>
        </ul>
    </p>
    <p>
        <span class="bold-block" style="margin-top: 5px;">UG Courses</span>
        <ul>
            <li>&quot;Software Engineering&quot; course offered for B.Tech. (IT) at <em>West Bengal University of Technology </em></li>
            <li>&quot;Software Engineering&quot; course offered for B.Sc. (CS) at <em>Delhi University</em></li>
        </ul>
    </p>

</div>


<h1>System Requirements</h1>

<div id="system-requirements" class="rounded-border-shadow home-page-section" style="">
    <p>
    You need a modern web browser with JavaScript enabled to access the complete set of features of <strong>Software
    Engineering Virtual Lab</strong>. In particular, this lab has been tested and found to work successfully with

    <ul>
        <li>
            <img src="{% static 'isad/images/new/icons/browsers/firefox24x24.png' %}">Firefox 3.6, 5.0
        </li>
        <li style="margin-top: 3px;">
            <img src="{% static 'isad/images/new/icons/browsers/chrome24x24.png' %}">Google Chrome 13.0
        </li>
        <li style="margin-top: 3px;">
            <img src="{% static 'isad/images/new/icons/browsers/opera24x24.png' %}">Opera 11.0
        </li>
        <li style="margin-top: 3px;">
            <img src="{% static 'isad/images/new/icons/browsers/internet_explorer24x24.png' %}">Internet Explorer 7
        </li>
    </ul>
    </p>
    <p>
     Any higher version of the above mentioned four web browsers would also work fine. Moreover, any web browser using
     modern versions of Gecko, WebKit rendering engines should be able to display properly and access all the features.
    </p>
</div>

{% endblock %}


{% block includeScripts %}
    <script type="text/javascript" src="{% static 'isad/js/tipsy-0.1.7/src/javascripts/jquery.tipsy.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'isad/js/tipsy-0.1.7/src/stylesheets/tipsy.css' %}" />
    <script type="text/javascript" language="JavaScript">
        // (#20: #2)
        //$(document).ready(function() {$('a[id^=exp]').tipsy({fade: true});});
        $(document).ready(function() {
            $('a[id^=exp]')
            .mouseover(function() {
               var li_id = $(this).parent().attr('id');
               $('li#' + li_id + ' div.experiment-outline').css('color', '#454545');
            })
            .mouseout(function() {
               var li_id = $(this).parent().attr('id');
               $('li#' + li_id + ' div.experiment-outline').css('color', 'gray');
            });
            $('div.experiment-outline')
            .mouseover(function() {
                $(this).css('color', '#454545');
            }).mouseout(function() {
                $(this).css('color', 'gray');
            });
        });
    </script>
{% endblock %}
