{% extends 'base2.html' %}

{% load staticfiles %}
{% block title %}
    {{ title }}
{% endblock %}

{% block url_intro %}{{ reverse_proxy_url }}{% url 'introduction' object_id %}{% endblock %}
{% block url_theory %}{{ reverse_proxy_url }}{% url 'theory' object_id %}{% endblock %}
{% block url_sim %}{{ reverse_proxy_url }}{% url 'simulation' object_id %}{% endblock %}
{% block url_case %}{{ reverse_proxy_url }}{% url 'case_study' object_id %}{% endblock %}
{% block url_selfev %}{{ reverse_proxy_url }}{% url 'self_evaluation' object_id %}{% endblock %}
{% block url_proc %}{{ reverse_proxy_url }}{% url 'procedure' object_id %}{% endblock %}
{% block url_ex %}{{ reverse_proxy_url }}{% url 'exercise' object_id %}{% endblock %}
{% block url_ref %}{{ reverse_proxy_url }}{% url 'references' object_id %}{% endblock %}


{% block content %}
<style type="text/css">
    div#title {
        padding-bottom: 5px;
    }
    div#title h1 {
        color: #0033CC;
    }
    div#contents {

    }
    p {
        padding: 5px;
    }
</style>

<div id="title">
</div>

<div id="contents" class="font-normal">
    <h2>Introduction</h2>

    {{ introduction|safe }}

    <p>&nbsp;</p>

    <p style="text-align: right;">
        <a href="{{ reverse_proxy_url }}{% url 'theory' object_id %}">Continue <img class="inline" alt="Continue" src="{% static 'isad/images/new/blue_right_arrow_16.png' %}"></a>
    </p>
</div>

{% endblock %}
