{% extends 'base2.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
<style type="text/css">
    div#title {
        padding-bottom: 5px;
    }
    div#title h1 {
        color: #0033CC;
    }
    div#contents {
        
    }
    p {
        padding: 5px;
    }    
</style>

<div id="title">    
</div>

<div id="contents" class="font-normal">
    <h2>Introduction</h2>

    

    {{ introduction|safe }}

    <p>&nbsp;</p>

    <p style="text-align: right;"> 
        <a href="{% url theory object_id %}">Continue <img class="inline" alt="Continue" src="/isad/v_media/images/new/blue_right_arrow_16.png"></a>
    </p>
</div>

{% endblock %}
