{% extends 'base2.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<div id="contents" class="font-normal">

    <p style="padding-top: 10px;">        
        Following books and websites have been consulted for this experiment. <br />
        <strong>
            You are suggested to go through them for further details.
        </strong>
    </p>

    <h2 id="title">Bibliography</h2>
    <ol>
    {% for r in reference %}
        {% if r.book %}
        <li id="list">{{ r.book }}</li>
        {% endif %}
    {% endfor %}
    </ol>

    <h2 id="title">Webliography</h2>

    <ol id="roman">
    {% for r in reference %}
        {% if r.url %}
        <li id=""><a href="{{ r.url }}">{{ r.url_desc }}</a></li>
        {% endif %}
    {% endfor %}
    </ol>

</div>

{% endblock %}