{% extends 'base2.html' %}

{% block title %}{{ title }}{% endblock %}

{% block url_intro %}{{ reverse_proxy_url }}{% url 'introduction' object_id %}{% endblock %}
{% block url_theory %}{{ reverse_proxy_url }}{% url 'theory' object_id %}{% endblock %}
{% block url_sim %}{{ reverse_proxy_url }}{% url 'simulation' object_id %}{% endblock %}
{% block url_case %}{{ reverse_proxy_url }}{% url 'case_study' object_id %}{% endblock %}
{% block url_selfev %}{{ reverse_proxy_url }}{% url 'self_evaluation' object_id %}{% endblock %}
{% block url_proc %}{{ reverse_proxy_url }}{% url 'procedure' object_id %}{% endblock %}
{% block url_ex %}{{ reverse_proxy_url }}{% url 'exercise' object_id %}{% endblock %}
{% block url_ref %}{{ reverse_proxy_url }}{% url 'references' object_id %}{% endblock %}


{% block content %}

<div id="contents" class="font-normal">

    <p style="padding-top: 10px;">
        Following books and websites have been consulted for this experiment. <br />
        <strong>
            You are suggested to go through them for further details.
        </strong>
    </p>

    <h2 id="title">Bibliography</h2>
    <ol>
    {% for r in reference %}
        {% if r.book %}
        <li id="list">{{ r.book }}</li>
        {% endif %}
    {% endfor %}
    </ol>

    <h2 id="title">Webliography</h2>

    <ol id="roman">
    {% for r in reference %}
        {% if r.url %}
        <li id=""><a href="{{ r.url }}">{{ r.url_desc }}</a></li>
        {% endif %}
    {% endfor %}
    </ol>

</div>

{% endblock %}
