<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  </head>
  <body>

      <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"
        codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,16,0"
        width="320" height="400" >
        <param name="movie" value="/isad/v_media/video/simulations/{{ object_id }}/{{ simulation_video_url }}">
        <param name="quality" value="high">
        <param name="play" value="true">
        <param name="loop" value="true">
        <embed src="/isad/v_media/video/simulations/{{ object_id }}/{{ simulation_video_url }}" width="320" height="400" play="true" loop="false" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer"
        type="application/x-shockwave-flash" >
        </embed>
      </object>
  </body>
</html>