<html>
    <head>
        <title>Software Engineering Virtual Labs | Solution</title>
    </head>

<body>

    <h1>Solution</h1>
    <hr />
    
    <h2>Screenshot</h2>
    <div id="solution_image" align="center">
        <img src="{{ MEDIA_URL }}images/__solutions/{{ solution_image }}" alt="Solution screenshot"
             style="border: 1px solid blue; padding: 7px;" />
    </div>

    <h2>Results & Discussions</h2>
    <div id="solution_text">
        {{ solution_text|safe }}
    </div>
    <hr />
    
    <div id="close">
        <a href="javascript:window.close();"><img src="/isad/v_media/images/new/cancel_32.png" style="border: 0; padding: 3px;" alt="Close"/></a>
    </div>

</body>
</html>