<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>WireIt - WiringEditor</title>

<!-- All external files -->

<!-- YUI -->
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}lib/wireit/lib/yui/reset-fonts-grids/reset-fonts-grids.css" />
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}lib/wireit/lib/yui/assets/skins/sam/skin.css" />

<!-- InputEx CSS -->
<link type='text/css' rel='stylesheet' href='{{ MEDIA_URL }}lib/wireit/plugins/inputex/lib/inputex/css/inputEx.css' />

<!-- YUI-accordion CSS -->
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}lib/wireit/plugins/editor/lib/accordionview/assets/skins/sam/accordionview.css" />

<!-- WireIt CSS -->
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}lib/wireit/assets/WireIt.css" />
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}lib/wireit/plugins/editor/assets/WireItEditor.css" />

<style>
div.WireIt-Container {
    width: 350px; /* Prevent the modules from scratching on the right */
}
div.WireIt-InOutContainer {
	width: 150px;
}
div.WireIt-InputExTerminal {
    float: left;
    width: 21px;
    height: 21px;
    position: relative;
}
div.WireIt-InputExTerminal div.WireIt-Terminal {
    top: -3px;
    left: -7px;
}
div.inputEx-Group div.inputEx-label {
    width:100px;
}
div.WireIt-ImageContainer {
    width: auto;
}
div.Bubble div.body {
    width: 70px;
    height: 45px;
    opacity: 0.8;
    cursor: move;
}
.WiringEditor-module span {
    position: relative;
    top: -3px;
}
</style>

<!-- YUI loader-->
<!--script src="http://yui.yahooapis.com/2.7.0/build/yuiloader/yuiloader-min.js"></script-->
<!-- inputEx loader -->
<!--script src="{{ MEDIA_URL }}lib/wireit/plugins/inputex/lib/inputex/js/inputex-loader.js"></script-->


<!-- YUI -->
<script type="text/javascript" src="{{ MEDIA_URL }}lib/wireit/lib/yui/yahoo/yahoo-min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}lib/wireit/lib/yui/utilities/utilities.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}lib/wireit/lib/excanvas.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}lib/wireit/lib/yui/resize/resize-min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}lib/wireit/lib/yui/layout/layout-min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}lib/wireit/lib/yui/container/container-min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}lib/wireit/lib/yui/json/json-min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}lib/wireit/lib/yui/button/button-min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}lib/wireit/lib/yui/tabview/tabview-min.js"></script>
<script src="{{ MEDIA_URL }}lib/wireit/plugins/editor/lib/accordionview/accordionview-min.js"  type='text/javascript'></script>

<!-- WireIt -->
<script type="text/javascript" src="{{ MEDIA_URL }}lib/wireit/js/WireIt.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}lib/wireit/plugins/inputex/lib/inputex/build/inputex.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}lib/wireit/plugins/inputex/lib/inputex/js/Field.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}lib/wireit/plugins/inputex/lib/inputex/js/Form.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}lib/wireit/plugins/inputex/lib/inputex/js/Group.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}lib/wireit/plugins/inputex/lib/inputex/js/Visus.js"></script>

<script src="{{ MEDIA_URL }}lib/wireit/plugins/inputex/lib/inputex/js/fields/StringField.js"  type='text/javascript'></script>
<script src="{{ MEDIA_URL }}lib/wireit/plugins/inputex/lib/inputex/js/fields/Textarea.js"  type='text/javascript'></script>
<script src="{{ MEDIA_URL }}lib/wireit/plugins/inputex/lib/inputex/js/fields/SelectField.js"  type='text/javascript'></script>
<script src="{{ MEDIA_URL }}lib/wireit/plugins/inputex/lib/inputex/js/fields/EmailField.js"  type='text/javascript'></script>
<script src="{{ MEDIA_URL }}lib/wireit/plugins/inputex/lib/inputex/js/fields/UrlField.js"  type='text/javascript'></script>
<script src="{{ MEDIA_URL }}lib/wireit/plugins/inputex/lib/inputex/js/fields/ListField.js"  type='text/javascript'></script>
<script src="{{ MEDIA_URL }}lib/wireit/plugins/inputex/lib/inputex/js/fields/CheckBox.js"  type='text/javascript'></script>
<script src="{{ MEDIA_URL }}lib/wireit/plugins/inputex/lib/inputex/js/fields/InPlaceEdit.js"  type='text/javascript'></script>

<script type="text/javascript" src="{{ MEDIA_URL }}lib/wireit/js/CanvasElement.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}lib/wireit/js/Layer.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}lib/wireit/js/LayerMap.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}lib/wireit/js/Terminal.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}lib/wireit/js/TerminalOutput.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}lib/wireit/js/TerminalProxy.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}lib/wireit/js/Container.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}lib/wireit/js/CanvasContainer.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}lib/wireit/js/ImageContainer.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}lib/wireit/js/MyImageContainer.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}lib/wireit/js/InOutContainer.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}lib/wireit/js/RectLabelContainer.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}lib/wireit/js/Wire.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}lib/wireit/js/ArrowWire.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}lib/wireit/js/DottedArrowWire.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}lib/wireit/js/BezierWire.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}lib/wireit/js/BezierArrowWire.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}lib/wireit/js/LeftSquareArrowWire.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}lib/wireit/js/RightSquareArrowWire.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}lib/wireit/js/Scissors.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}lib/wireit/js/StepWire.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}lib/wireit/js/DD.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}lib/wireit/js/DDResize.js"></script>

<script type="text/javascript" src="{{ MEDIA_URL }}lib/wireit/plugins/editor/lib/accordionview/accordionview.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}lib/wireit/plugins/editor/js/BaseEditor.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}lib/wireit/plugins/editor/js/WiringEditor.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}lib/wireit/plugins/editor/js/ModuleProxy.js"></script>

<!-- End -->

<!--script type="text/javascript" src="../../js/adapters/json-rpc.js"></script-->
<!--script type="text/javascript" src="{{ MEDIA_URL }}lib/wireit/plugins/editor/examples/WiringEditor/js/demo_{{ theory_id }}.js"></script-->
<script type="text/javascript" src="{{ MEDIA_URL }}lib/wireit/plugins/editor/examples/WiringEditor/js/demo_3.js"></script>


<style type="text/css">
/* Comment Module */
div.WireIt-Container.WiringEditor-module-comment { width: 200px; }
div.WireIt-Container.WiringEditor-module-comment div.body { background-color: #EEEE77; }
div.WireIt-Container.WiringEditor-module-comment div.body textarea { background-color: transparent; font-weight: bold; border: 0; }
</style>

<script type="text/javascript">

    // InputEx needs a correct path to this image
    inputEx.spacerUrl = "/inputex/trunk/images/space.gif";
    YAHOO.util.Event.onDOMReady(function() {
        try {	    

            var editor = new WireIt.WiringEditor(demoLanguage);

            // Open the infos panel
            editor.accordionView.openPanel(2);
	}
	catch(ex) {
            console.log(ex);
	}
   

        //var s = '<div style="margin: 0 auto; text-align: center;">\
        //            <a href="">New Window</a>\
        //        </div>';

        //document.getElementById('center').innerHTML += s;

     });

    // Update value of hidden field when selected item is changed -- Barun (28-Jun-2010)
    function updateValue(obj) {
         $('#hEdgeType').val(obj.options[obj.selectedIndex].value);
        //alert('jQ: ' + $('#hEdgeType').val());
        //alert(document.getElementById('hEdgeType').value);
        //WireIt.Wire.prototype.defaultWireClass = "WireIt.DottedArrow";
    }
</script>

<base target="_blank" />

</head>

<body class="yui-skin-sam">

<input type="hidden" id="hEdgeType" name="hEdgeType" value="arrows"/>

    <div id="top" style="position: relative; top: 11px;">
        <b style="padding-left: 7px;">Select edge type:</b> &nbsp;      
       
        {{ edge_options|safe }}
      
    </div>
    <div id="toolbar"></div>	

	<div id="left">
	</div>
	
	<div id="right" style="width:25%;">
	  <ul id="accordionView">
		<li>
                    <h2>Properties</h2>
                    <div>
                        <div id="propertiesForm"></div>
                    </div>
		</li>
		<li>
                    <h2>Minimap</h2>
                    <div style='position: relative;'>
                        <div id="layerMap"></div>
                    </div>
		</li>
	  </ul>
	</div>

	<div id="center" style="height: 100%;">
            <div style="margin: 0 auto; text-align: center;">
                <!--a href="/isad/wireit/">New Window</a-->
            </div>
	</div>

    
    <!-- Barun, 03-Jul-2010: Hidden field to store the graph representation as JSON string -->
    <div id="divJSONGraph" style="height: 0px; visibility: hidden;" >
    </div>

    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.min.js"></script>
    
</body>
</html>
