/* 
    Document   : workspce
    Created on : 1 Feb, 2011, 6:56:50 PM
    Author     : barun
    Description:
        Purpose of the stylesheet follows.
*/


table.techno {
    margin-top: 10px;
}
table.techno tbody td li {
    text-align: left;
}
table.techno tbody td input.pkCheck {
    text-align: center;
}
table thead tr th {
    text-align: center;
}  

a.removeAttribute {
    text-decoration: none;
    color: blue;
}    
.removeImage {
    width: 16px;
    height: 16px;
    border: 0;
    display: inline;
    padding-left: 5px;
}
#uml-diagram {
    margin-left: 15px;
}
.buttonAddImage {
    display: inline;
    vertical-align: middle;
}
.inputText{
    width: 110px;
}
.editable:hover, .editableSelect:hover {
    background-color: #aaaaaa;
}


    
div.grippie {
    background: #EEEEEE url(../lib/TextArea_Resizer_1.0.4/grippie.png) no-repeat scroll center 2px;
    border-color: #DDDDDD;
    border-style: solid;
    border-width: 0pt 1px 1px;
    cursor: s-resize;
    height: 9px;
    overflow: hidden;
    width: 99.9%;
}
.resizable-textarea textarea {
    display: block;
    margin-bottom: 0pt;
    width: 96%;
    height: 470px;
}

.invisible {
    visibility: hidden;
}
