.theory {
    width: 90%;
    height: 80%;
}

.lesson_title
{
    color: Navy;
    font-weight: bold;
    font-style: normal;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}

