.simulation-problem {
    border-right: 1px dotted silver; width: 45%; float: left;
}
.simulation-video {
    border: 0; margin-left: 46%;
}
.simulation-discussions {
    clear: both; width: auto; border-top: 2px dotted silver; margin-top: 2px; padding-top: 5px;
}
